{% set subdomain = attendee.project.subdomain.name %}
{% set companionLink = "https://#{attendee.project.subdomain.name}.qndr.io" %}
{% set unsubsribeLink = "#{companionLink}/unsubscribe/#{attendee.uuid}" %}
{% set viewInBrowserLink = "#{companionLink}/email/#{attendee.vanity}" %}
{% set termsLink = "https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sos-westfield/templates/1139/SOS%20Retail%20Competition%20Terms.html" %}

{% if password_token %}
{% set companionLink = "https://#{attendee.project.subdomain.name}.qndr.io/en/companion/s/#{password_token }" %}
{% endif %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title>Sky Live</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/> 
		
     <!--[if !mso]> -->
   
		<link href="https://s3-eu-west-1.amazonaws.com/quander-assets/companion/fonts/Sky_Reg.ttf" rel="stylesheet" type="text/css"/>

	 <!--<![endif]-->	
    
		<style type="text/css">	
            				
			 html {
				width: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				width: 100%;
				-webkit-text-size-adjust: none;
				-ms-text-size-adjust: none;
			}
			img {
				display: block !important;
				border: 0;
				-ms-interpolation-mode: bicubic;
			}
			 .ReadMsgBody {
				width: 100%;
			}
			.ExternalClass {
				width: 100%;
			}			
			.ExternalClass,
			.ExternalClass p,
			.ExternalClass span,
			.ExternalClass font,
			.ExternalClass td,
			.ExternalClass div {
				line-height: 100%;
			}
			 .images {
				display: block !important;
				width: 100% !important;
			}			
			.MsoNormal {
				font-family:SkyTextRegular,Open Sans,Arial, Helvetica Neue, Helvetica, sans-serif !important;
			}
			p {
				margin: 0 !important;
				padding: 0 !important;
			}			
			.button td,
			.button a {
				font-family:SkyTextRegular,Open Sans, Arial, Helvetica Neue, Helvetica, sans-serif !important; 
			}						
			.button a:hover {
				text-decoration: none !important;
			}

			/* MEDIA QUIRES */
			
			 @media only screen and (max-width: 640px) {
            body {
                width: auto !important;
            }
            table[class=display-width] {
                width: 320px !important;
                margin: auto;
            }
            table[class=display-width] table {
                width: 100% !important;
            }
            table[class=display-width] .button-width .button {
                width: auto !important;
            }
			table[class=nulltable] {
				display:none !important;
			}
			.null {
				display:none !important;
			}
			.high {
				padding-bottom:40px !important;
			}
            .mobile-shrink {
                height:20px!Important;         
            }
            .mobile-center {
                text-align: center;
            }
           .padding {
				padding:0 30px !important;
			}			
			.hide-height {
				height:0 !important;
			}
			.add-height {
				height:40px !important;
			}
			.padding-inner {
				padding:0 10px !important;
			}				
			.quotes{
				font-size:37px !important;
			}
			.test{
				width:10% !important;
			}
			.about-button {
				font-size:10px !important;
			}
			.service-border{
				border:none !important;
			}
        }
		
        @media only screen and (max-width: 320px) {
            table[class=display-width] {
                width: 100% !important;
            } 
			.header-MsoNormal{
				font-size:30px !important;
			}
			.padding-inner {
				padding:0 9px !important;
			}
        }

		</style>

	</head>

	<body> 
		
		<!-- VIEW IN BROWSER STARTS -->
		
		<table align="center" bgcolor="#333333" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td align="center">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">
							<tbody><tr>
								<td align="center" class="padding">
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">	
										<tbody><tr>
											<td align="center" class="padding-inner">
												<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">		
													<tbody><tr>
														<td height="10"></td>
													</tr>
													<tr>
														<td align="right" valign="middle" class="mobile-center MsoNormal" style="color:#ffffff;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;line-height:20px;">
															<a href="{{ viewInBrowserLink }}" style="color:#ffffff;text-decoration:none;">View this email Online</a> 											
														</td>
													</tr>
													<tr>
														<td height="10"></td>
													</tr>
												</tbody></table>
											</td>
										</tr>	
									</tbody></table>
								</td>
							</tr>							
						</tbody></table>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- VIEW IN BROWSER ENDS -->

		<!-- MENU STARTS -->
		
		<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">			
			<tbody><tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">
						<tbody><tr>
							<td align="center" class="padding">	
								<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
									<tbody><tr>
										<td height="20"></td>
									</tr>	
									<tr>
										<td class="padding-inner">  
											<table align="left" border="0" cellpadding="0" cellspacing="0" width="80" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
												<tbody><tr>
													<td align="center" valign="middle">
														<a href="https://www.sky.com/" style="color:#ffffff;text-decoration:none;">
															<img src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/sky-logo.jpg" alt="Sky" width="82" style="display:block;margin:0;padding:0;"/>
														</a>
													</td>
												</tr>												
											</tbody></table>
											
														
												
                                            <!-- 

                                                this section should be uncommented if need to insert header menu items again

											<table align="right" border="0" cellpadding="0" cellspacing="0" class="display-width" width="35%" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;">
												<tbody><tr>
													<td valign="middle">
														<table align="center" border="0" cellspacing="0" cellpadding="0" style="width:auto !important;">												
															<tbody><tr>
																<td height="10" class="hide-height"></td>
															</tr>
															<tr>													
																<td width="10">&nbsp;</td>
																<td align="left" valign="middle" class="MsoNormal" style="color:#333333;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;font-weight:600;letter-spacing:1px;line-height:24px;">
																	<a href="#" style="color:#333333;text-decoration:none;">
																	
																	</a>
																</td>
																<td width="10">&nbsp;</td>
																<td align="left" valign="middle" class="MsoNormal" style="color:#333333;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;font-weight:600;letter-spacing:1px;line-height:24px;">
																	
																</td>
																<td width="10">&nbsp;</td>
																<td align="left" valign="middle" class="MsoNormal" style="color:#333333;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:13px;font-weight:600;letter-spacing:1px;line-height:24px;">
																	<a href="#" style="color:#333333;text-decoration:none;">
																	
																	</a>
																</td>																															
															</tr>
															<tr>
																<td height="10" class="hide-height"></td>
															</tr>
														</tbody></table>
													</td>
												</tr>												
											</tbody></table>
                                            -->
                                            
                                            
										</td>
									</tr>
									<tr>
										<td height="20"></td>
									</tr>
								</tbody></table>
							</td>
						</tr>						
					</tbody></table>
				</td>
			</tr>			
		</tbody></table>
		
		<!-- MENU ENDS -->	
		
		<!-- HEADER & BANNER STARTS -->
		
	<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#ffffff;">			
			<tbody><tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<td align="center">	

								<div style="margin:auto;">								
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" >
										<tbody><tr>
											<td align="center">
												<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
													<tbody><tr>
														<td align="center" valign="top">
															<img width="100%" src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/welcome-to-sky-live.jpg" alt="Welcome to Sky Live" style="display:block;"  />
														</td>
													</tr>
												</tbody></table>
											</td>
										</tr>
									</tbody></table>
								</div>
				
							</td>
						</tr>						
					</tbody></table>
				</td>
			</tr>			
		</tbody></table>
		
		<!-- HEADER & BANNER ENDS -->		
        
        	<!-- CTA STARTS -->
	
		
		<!-- CTA ENDS -->
		
		<!-- ABOUT US STARTS -->
		
		<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">
						<tbody><tr>
                             <!--[if !mso]>-->
                          <td>
                            <img src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/gradient-left.png" alt="" style="width: 100%;height: 100%;"/> </td>
                            <!-- <![endif]-->
							<td align="center" class="padding" width="600">
								<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600">
									<tbody><tr>
										<td align="center" class="padding-inner">
											<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">
												<tbody><tr>
													<td class="mobile-shrink" height="20"></td>
												</tr>									
												<tr>
													<td align="center" class="MsoNormal" style="color:#333333;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:20px;font-weight:600;line-height:35px;">
														Sky Live
													</td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td height="20"></td>
												</tr>
												<tr>
													<td>  
														<!-- TABLE LEFT -->	
														
														<table align="left" border="0" cellpadding="0" cellspacing="0" class="display-width" width="42%" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
															<tbody><tr>
																<td align="left" style="line-height:0;">
																	<img src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/Iphone.jpg" alt="Sky Live" style="color:#333333;width:100%;"/>
																</td>
															</tr>
														</tbody></table>
														
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="1" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
															<tbody>
																<tr>
																	<td class="mobile-shrink" style="line-height:40px;" height="20" width="1"></td>
																</tr>
															</tbody>
														</table>
														
														<!-- TABLE RIGHT -->
														
														
														<table align="right" border="0" cellpadding="0" cellspacing="0" width="51%" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
															<tbody><tr>
																<td>
																	<table align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
																		<tbody>
																		<tr>
																			<td height="20"></td>
																		</tr>
																		<tr>
																			<td align="left" class="MsoNormal" style="color:#333333;font-family:'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:15px;font-weight:600;line-height:28px;">
																				Welcome to Sky Live, {{ firstname }}.
																			</td>
																		</tr>
																		<tr>
																			<td height="20"></td>
																		</tr>
																		<tr>
																			<td align="left" class="MsoNormal" style="color:#666666;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:15px;line-height:24px;">
																				You can now login to access your personal event companion – a unique code you can use to collect and store the photos and videos you create at any Sky Live experience, now and in the future.
																			</td>
																		</tr>	
																		<tr>
																			<td height="20"></td>
																		</tr>
																		<tr>
																			<td align="left" class="MsoNormal" style="color:#666666;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:15px;line-height:24px;">
																				We’ll save your memories in your private Sky Live album so they’re ready to download and share whenever you want
																			</td>
																		</tr>	
																		<tr>
																			<td height="20"></td>
																		</tr>                                                                             
																		<tr>
																			<td align="left">
																				<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
																					<tbody><tr>
																						<td align="center" valign="middle" class="button-width">
																							<table align="center" border="0" cellspacing="0" cellpadding="0" class="button" style="border-radius:5px;"> <!-- USING TABLE AS BUTTON -->
																								<tbody><tr>
																									<td align="center" valign="middle" class="MsoNormal" style="color:#ffffff;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:18px;font-weight:400;padding:7px 15px;">
																										<a href="{{ companionLink }}" style="color:#ffffff;text-decoration:none;">
                                                                                                            <img src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/Login%20to%20MY%20Sky%20Live.png" alt="Login To My Sky Live" />
                                                                                                        </a>
																									</td>
																								</tr>
																							</tbody></table>
																						</td>																					
																					</tr>																		
																				</tbody></table>
																			</td>
																		</tr>
																		
																	</tbody></table>
																</td>
															</tr>												
														</tbody></table>
													</td>
												</tr>	
												<tr>
													<td class="mobile-shrink" height="20"></td>
												</tr>
											</tbody></table>
										</td>
									</tr>
								</tbody></table>
							</td>
                            <!--[if !mso]>-->
                              <td align="right">
                            <img src="https://quander-central.s3.amazonaws.com/sky-events-7uSxWJ/sky-sos-osterley/templates/1123/gradient-right.png" alt="" style="width:100%; height:100%;"/> </td>
                             <!-- ![endif]-->
						</tr>					
					</tbody></table>
				</td>
			</tr>			
		</tbody></table>
		
		<!-- ABOUT US ENDS -->	
		
		
	

		
		<!-- FOOTER STARTS -->
		
		<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#ffffff">
			<tbody><tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="100%">
						<tbody><tr>
							<td height="20"></td>
						</tr>
						<tr>
							<td align="center" class="padding">
								<table align="center" border="0" cellpadding="0" cellspacing="0" class="display-width" width="600" style="color:#ffffff">
									<tbody>
										
										
										
										
										
										<tr>
										<td>  
											<!-- TABLE LEFT -->									
											
											<table align="left" border="0" cellpadding="0" cellspacing="0" class="display-width" width="48%" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;">
												<tbody>													
													<tr>
														<td align="center" class="MsoNormal" style="color: #b4b3b4;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:15px;line-height:20px;">
															Copyright © 2016 All Rights Reserved. 
														</td>
													</tr>										
												</tbody>
											</table>
											
											 <table align="left" border="0" cellpadding="0" cellspacing="0" width="1" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
												<tbody>
													<tr>
														<td style="line-height:20px;" height="20" width="1"></td>
													</tr>
												</tbody>
											</table>
															
											<!-- TABLE RIGHT -->
											
											<table align="right" border="0" cellpadding="0" cellspacing="0" class="display-width" width="23%" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;width:auto;">
												<tbody>																		
													<tr>
														<td align="center" class="MsoNormal" style="color: #666666;font-family:SkyTextRegular,'Segoe UI',sans-serif,Arial,Helvetica,Lato;font-size:15px;line-height:20px;">
															<a href="{{ unsubsribeLink }}" style="color:#b4b3b4;text-decoration:none;">Unsubscribe</a>
														</td>
													</tr> 													
												</tbody>
											</table>
										</td>
									</tr>	
									<tr>
										<td height="210"></td>
									</tr>
                                        
									</tbody>
								</table>                    
							</td>
						</tr>	
					</tbody></table>
				</td>
			</tr>
		</tbody></table>

		<!-- FOOTER ENDS -->
	
	

	</body></html>