<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">The sports everyone is talking about this spring<br/>
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.viewBrowser&url=https://skysportsnewshq.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<!--
<tr>
    <td class="pad">
        <img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/strapline-cricket.gif" alt="Sky's biggest year of cricket" width="472" height="28" border="0" id="strapline" style="display:block;" title="Sky's biggest year of cricket"/>    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
-->
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.viewYourPhoto&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}" title="View Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.play&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}" title="Play" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-play.png" alt="Play" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank" title="Share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/share/twitter" title="Share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.play&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}" title="Play" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-play.png" alt="Play" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Play"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                      <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/share/facebook" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                      <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><span style="color:#8f8e8e;">Hello {{ firstname }},</span><br/>
      <br/>
      Great to see you at the Sky Sports News HQ experience today at Westfield London, you really handled the pressure, so why not share your moment in the spotlight with friends and family.
      <br/><br/>
      With Sky TV and Sky Sports, you have a wealth of sports available to watch at your fingertips. This June, Sky Sports will show season finales of the <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.2015USOpen&url=http://www1.skysports.com/golf/" title="2015 US Open"><strong>2015 US Open</strong></a>, <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.internationalCricket&url=http://www1.skysports.com/cricket/ashes" title="International Cricket"><strong>International Cricket</strong></a>, <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.formula1&url=http://www1.skysports.com/f1/" title="Formula 1"><strong>Formula 1</strong></a> and much more.
         <br/><br />
    <span align="center" style="display: block; text-align: center">
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.findOutMoreSkyShop&url=http://www.sky.com/shop/b/home/" title="Find Out More - Sky Shop"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" alt=""/></a></span>
          <br/><br/>
        Great things come as standard with your Sky TV and Sky Sports subscription, including:
        <br /><br />
      <table border="0" cellspacing="0" cellpadding="0"><tbody>
	             <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Access to a wealth of Sports coverage with <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.skySports&url=http://www.skysports.com/" title="Sky Sports" style="color:#999999;"><strong>Sky Sports</strong></a>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Great entertainment and sports on the move with <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.skyGo&url=http://www.sky.com/shop/tv/sky-go/" title="Sky Go" style="color:#999999;"><strong>Sky Go</strong></a>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Sky offers a wide range of <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.catchUp&url=http://www.sky.com/products/ways-to-watch/catch-up-tv/" title="Catch Up" style="color:#999999;"><strong>Catch-up</strong></a> channels
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
               Pause, rewind and record your favourite shows with <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.skyPlus&url=http://www.sky.com/shop/tv/sky-plus/sky-plus-r8?s_tnt=61261:1:0"  title="Sky+" style="color:#999999;"><strong>Sky+</strong></a>
            </td>
        </tr>

        </tbody></table>
       <br/>
        <small>Set-up costs may apply.</small>
        <br /><br />
    <span align="center" style="display: block; text-align: center">
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.findOutMoreSkySports&url=http://www.skysports.com/" title="Find Out More - Sky Sports"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" alt=""/></a></span>

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.panelAshes&url=http://www1.skysports.com/cricket/ashes" title="Panel Ashes"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-ashes.jpg" width="298" height="148" border="0" alt=""/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.panelGolf&url=http://www1.skysports.com/golf/" title="Panel Golf"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-us-open.jpg" width="298" height="148" border="0" alt=""/>
                    </a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                    Watch every ball of every 2015 Investec Ashes test between England and Australia, live only on Sky Sports.
                    <br/><br/>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                    Watch all four days of the US Open live only on Sky Sports.
                </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>

<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.panelGolf&url=http://www1.skysports.com/golf/" title="Panel Golf">
                            <img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-us-open.jpg" width="600" height="300" border="0" alt=""/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                        Watch all four days of the US Open live only on Sky Sports.
                    </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- IAF AREA -->

<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;">
        This email was sent to {{ email }}.<br/>
        Please add noreply@yourskyphoto.co.uk to your address book or safe sender list.
        <br/><br/>
        This email was sent to you by &copy; Sky UK Ltd 2015. Sky UK Ltd ©Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.<br/><br/>
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.termsAndConditions&url=https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/terms.html" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> |  <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.nsc.privacyPolicy&url=http://help.sky.com/articles/sky-privacy-and-cookies-notice" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skysportsnewshq.sngrn.co/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a>
        <br/><br/>
        &copy; Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.
        <br/><br/>
        The F1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing BV, a Formula One group company. All rights reserved.
<br /><br />
        <p style="text-align: justify;">
        <strong>Subject to status.  Upfront payment may be required.</strong><br />
New customers must take Sky TV to get the Sky Sports Pack. Sky TV £20.00 - £75.75 per month (pm). Box and set-up required.  Standard £30 for new Sky TV customers. 12 month minimum term for Sky TV. Sky Sports Pack: £25.50 extra pm. You can cancel your Sky Sports Pack subscription at any time by giving us at least 31 days' notice. Content depends on your Sky TV/HD subscription. Selected channels/programmes on Catch Up. Box Sets: Selection of shows/series available & varies each month. Sky Store costs extra. Downloadable HD content takes longer to start viewing. Sky Movies Pack or Sky Sports Pack required for Sky Movies or Sky Sports. Family Bundle or another Sky HD subscription required for TV Box Sets. <strong>Sky Go:</strong> UK / Ireland only. Streamed via broadband/3G/4G (charges may apply). Available on two registered compatible devices (content may vary). Some live TV programmes will be unavailable (go to - go.sky.com). Compatible device and software requirements at sky.com/skygodevices. Sky Go is not currently supported on PCs with Windows 8 or Macs with OS X Mountain Lion. ITV channels available in UK only. <strong>Sky TV Customers:</strong> Selected channels and on demand content available at no extra cost depending on your Sky TV subscription. You'll need Sky Movies 1&2 or Sky Sports 1&2 Packs for on demand Sky Movies or Sky Sports. You'll need the Family Bundle or another Sky HD subscription for TV Box Sets. <strong>General:</strong> Prices may go up during your contract. Non-standard set-up may cost extra. Prices may vary if you live in a flat. Sky+ functionality requires two satellite feeds. You must get any consents required (e.g. landlord's). Prices for Direct Debit payments only. Continuous debit/credit card mandate costs 50p pm. UK, Channel Islands and Isle of Man residential customers only.  Further terms apply.  Other providers' charges may vary. Correct at 28/05/2015.
        <br/><br/>
            </p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://skysportsnewshq.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>