<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Watch Nickelodeon every day on Sky</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer">&nbsp;</td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/sky-logo.png" alt="Sky 1" width="82" height="52" border="0" style="display:block;" title="Sky 1"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Watch Nickelodeon every day on Sky<br />
                <a href="https://yourskyphoto.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
         <img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/Thanks-for-coming-to-see-us.jpg" alt="It was great to meet you today" height="30" width="409" border="0" id="strapline" style="display:block;" title="It was great to meet you today"/>
    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" title="View Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" target="_blank" title="Share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" title="Share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/share/facebook" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/share/twitter" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><span style="color:#8f8e8e;"> Hello {{ firstname }},</span><br />
      <br />It looks like you made a new friend today, here’s your photo to share with your family and friends.
      <br /><br />
      You can catch your favourite Nickelodeon characters every day on Sky, plus a whole host of channels and entertainment for all the family to enjoy.


      <br /><br />
        
    <span align="center" style="display: block; text-align: center">
        <a href="http://www.sky.com/shop/sky-bundles/" title="Find Out More"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" alt="" width="130" height="35" title="Find out more" border="0"/></a></span>

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.sky.com/shop/sky-bundles/" title="Shimmer and Shine content panel"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/shimmer-and-shine-panel-V3.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Shimmer and Shine" border="0"/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="http://www.sky.com/shop/sky-bundles/" title="Game Shakers content panel"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/game-shakers-panel-V3.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Game Shakers" border="0"/></a><a href="http://www1.skysports.com/football/competitions/premier-league" title="Sky Sports"></a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">Follows the magical adventures of fraternal twin genies, Shimmer and Shine, who unintentionally create chaos while attempting to grant wishes for their human best friend, Leah. <br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">When they created Sky Whale for their science project, seventh graders Babe and Kenzie were hoping for a passing grade at best. They never expected their mobile gaming app to become the most popular game of the year! <br /></td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="http://www.sky.com/shop/sky-bundles/" title="Game Shakers content panel">
                            <img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/game-shakers-panel-V3.jpg" alt="" width="570" height="285" class="scale" style="display:block;" title="Game Shakers" border="0"/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> Bring The Noise is a genre defining entertainment show. It will combine the boisterous stunts and humour of A League of Their Own with the scale and glamour of The Brits. </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="7"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">&nbsp;</td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="6" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;">
        <p>This email was sent to {{ email }}.<br/>
          Please add noreply@yourskyphoto.co.uk to your address book or safe sender list.          <br/>
          This email was sent to you by ©Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.
          <br/><br/>
          <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/terms.html" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> |  <a href="https://corporate.sky.com/site-services/privacy-policy" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skysportsnewshq.sngrn.co/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a><br />
          <br />
          Nickelodeon & Nick Jr.: © 2015 Viacom International Media Networks. All rights reserved.    <strong>General</strong>: Prices may go up during your contract. Further terms apply. Correct at 6 October 2015.
 </p>
        <p>&nbsp;</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>