<html>
	<head>
        <title>Watch Nickelodeon every day on Sky</title>
        <link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
		<script async="" src="//www.google-analytics.com/analytics.js"></script>
		<script src="https://vjs.zencdn.net/4.7/video.js"></script>
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="Check out which Nickelodeon character I met today at Sky">
        <meta name="twitter:title" content="Check out which Nickelodeon character I met today at Sky">
        <meta name="twitter:description" content="Check out which Nickelodeon character I met today at Sky">
        <meta name="twitter:player:height" content="1280">
        <meta name="twitter:player:width" content="720">
        <meta property="twitter:url" content="{{ ogURL }}">
        <meta name="twitter:player" content="{{ ogURL }}">
      <meta name="twitter:image:src" content="{{ media[0].url }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="Check out which Nickelodeon character I met today at Sky"/>
        <meta property="og:title" content="Check out which Nickelodeon character I met today at Sky"/>
        <meta property="og:description" content="Check out which Nickelodeon character I met today at Sky" />
            <meta property="og:image" content="{{ media[0].url }}">
      <meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
        <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css" />
	</head>
	<body>
		<div id="header">
			<div class="center-wrapper">
				<p>&nbsp;</p>
				<p> <img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo2"></p>
			</div>
		</div>
	<div id="main-content">
			<div>
<<<<<<< HEAD
				<div class="center-wrapper" style="margin-top:40px">
					<img src="{{ media[0].url }}" id="customer-content">
      
              </div>
              <div>
=======
				<div class="center-wrapper">
					<img src="{{ media[0].url }}" id="customer-content">
      
                    </div>
				</div>
			</div>
			<div>
>>>>>>> d734bc17f24047fac614ac506b4b7a6c770d01ed
				<div class="center-wrapper" style="margin-top:30px" id="share-row">
                                
				  <p><a href="https://yourskyphoto.sngrn.co/v/{{ attendee.vanity }}/0/share/facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" class="button button-left share facebook">
				    <img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/shareButton.png" alt="Share your photo to Facebook" border="0">
				    </a>
				    <a href="https://yourskyphoto.sngrn.co/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:57px; margin-right:56px;">
				      <img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/tweetButton.png" alt="Share your photo to Twitter" border="0">
			        </a>
				    <a href="https://yourskyphoto.sngrn.co/a/click/{{ uuid }}?type=web.download&url={{ "https://infinite-castle-5966.herokuapp.com/image.php?image=#{ media[0].url }&scene=#{ attendee.fields.selectedScene}&download=true"|url_encode }}" class="button share">
				      <img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/downloadButton.png" alt="Save your photo to your computer" border="0">
			        </a>
			      </p>
				  <p>&nbsp;</p>
				  <p>&nbsp;</p>
				  <p>&nbsp;</p>
				  <p>&nbsp;</p>
				</div>
			</div>
	  </div>
	</div>
			
	<div>
				<div class="center-wrapper"></div>
			</div>
		</div>
		<div id="main-content2">
		  <div>
		    <div class="center-wrapper"> <img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo"> </div>
	      </div>
    </div>
        <div id="footer">
          <p><a href="https://corporate.sky.com/site-services/privacy-policy" alt="Privacy Policy">Privacy Policy</a> | <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/nickelodeon-character-greenscreen/templates/552/terms.html" alt="Terms & Conditions">Terms & Conditions</a></p>
        </div>
<script>
      
      $('.share.twitter').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
	</body>
</html>