<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;"><br/>
                    <a href="https://skymela.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
         <img src="https://s3-eu-west-1.amazonaws.com/quander-mela/strapline-mela.gif" alt="Your Moment In The Spotlight" height="28" width="409" border="0" id="strapline" style="display:block;" title="Your Moment In The Spotlight"/>
    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skymela.sngrn.co/v/{{ vanity }}" target="_blank"><img src="{{ media[0].url }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Photo"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    
                    <a href="https://skymela.sngrn.co/a/click/{{ uuid }}?url=https://skymela.sngrn.co/v/{{ vanity }}/0/download&type=email.tv.download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skymela.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skymela.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="10" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                    <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"> <p>Hello {{ firstname }},<br />
      <br />
      Great to see you at the Sky Asia pack experience today, hope you enjoyed your moment in the spotlight.<br /><br />When you join Sky TV you’ll be able to watch a huge range of entertainment plus, with Sky Asia pack you can enjoy seven extra Asian channels including Zee TV, Zee Cinema, Zee Punjabi, Sony Entertainment TV Asia, Sony Max, B4U Movies and ARY Digital.
      
      
      
      <br />
    </p>
      <p><br />
        
        <span align="center" style="display: block; text-align: center">
          <a href="http://www.sky.com/shop/b/sky-asia-pack/"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-find-out-more.png" width="130" height="35" title="Find Out More Sky Asia pack" border="0" /></a></span></p></td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.sky.com/shop/b/sky-asia-pack/"><img style="display:block;" class="scale" src="https://quander-mela.s3.amazonaws.com/melav2/Piku-panel-image.jpg" width="298" height="148" border="0" alt="" title="Piku Panel Image" /></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="http://www.sky.com/shop/b/sky-asia-pack/"><img style="display:block;" class="scale" src="https://quander-mela.s3.amazonaws.com/melav2/Jeeto-panel-image.jpg" width="298" height="148" border="0" alt="" /></a>
                    </td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">A cab driver is caught between a dysfunctional father and daughter as he drives them to Calcutta.<br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> The biggest game show in Pakistan. A show like no other, where the fun never stops and the prizes just keep on coming. </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.sky.com/shop/b/sky-asia-pack/"><img style="display:block;" class="scale" src="https://quander-mela.s3.amazonaws.com/melav2/Jeeto-panel-image.jpg" width="298" height="148" border="0" alt="" /></a>
                    </td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td></td>
                <td bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> The biggest game show in Pakistan. A show like no other, where the fun never stops and the prizes just keep on coming. </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td></td>
                <td bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>
</tr>
<!-- IAF AREA -->

<tr> </tr>

<!-- FOOTER AREA -->
<tr>
    <td height="5" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;"> <p>This email was sent to {{ email }}.<br />
      Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
  <br />
      This email was sent to you by ©Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. 
  <br />
  <br />
  <a href="http://quander-mela.s3.amazonaws.com/termsposteid.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy
    Policy</a> | <a href="https://skymela.sngrn.co/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
      
      <br />
       <strong>Subject to status.  Upfront payment may be required.</strong></p>
      <p>
      New customers must take Sky TV to get the Sky Asia pack. <strong>Sky TV:</strong> £20.00-£75.75 per month (pm). Box and set-up required.  Standard set-up £30 for new Sky TV customers. One free Sky+ HD box per household for new Sky TV customers. 12 month minimum term for Sky TV. Sky Asia pack: £15.00 extra pm. You can cancel your Sky Asia pack subscription at any time by giving us at least 31 days' notice.  <strong> General:</strong>  Prices may go up during your contract. Non-standard set-up may cost extra. Prices may vary if you live in a flat. Sky+ functionality requires two satellite feeds. You must get any consents required (e.g. landlord's). Prices for Direct Debit payments only. Continuous debit/credit card mandate costs 50p pm. UK, Channel Islands and Isle of Man residential customers only.  Further terms apply.  Correct at 3 July 2015.<br />
        <br />
      </p></td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://skymela.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>