<html>
	<head>
        <title>Did you survive the Apocalypse?</title>
        <link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
		<script async="" src="//www.google-analytics.com/analytics.js"></script>
		<script src="https://vjs.zencdn.net/4.7/video.js"></script>
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="Did you survive the Apocalypse?">
        <meta name="twitter:title" content="I survived the Apocalypse, would you? Check out my video.  #ApocalypseSky1">
        <meta name="twitter:description" content="I survived the Apocalypse, would you? Check out my video.  #ApocalypseSky1">
        <meta name="twitter:player:height" content="1280">
        <meta name="twitter:player:width" content="720">
        <meta property="twitter:url" content="{{ ogURL }}">
        <meta name="twitter:player" content="{{ ogURL }}">
      <meta name="twitter:image:src" content="{{ media[0].url }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="Did you survive the Apocalypse?"/>
        <meta property="og:title" content="Did you survive the Apocalypse?"/>
        <meta property="og:description" content="I survived the Apocalypse, would you? Check out my video.  #ApocalypseSky1" />
            <meta property="og:image" content="{{ media[0].url }}">
      <meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
        <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css" />
	</head>
	<body>
		<div id="header">
			<div class="center-wrapper">
				<p><a href="http://www.sky.com/watch/channel/sky-1"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/yamata/templates/538/Sky%201%20on%20white.png" alt="Sky 1" id="logo" title="Sky 1"></a>				  </p>
				<p>&nbsp;</p>
				<p><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/yamata/templates/538/apo.png" alt="Did you survive the Apocalypse?" width="409" height="30" id="slogan" title="Did you survive the Apocalypse?"></p>
			</div>
		</div>
		<div id="main-content">
			<div>
				<div class="center-wrapper outer-container">
					<div id="video">
      
                      <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="507" poster="{{media[0].posterurl}}" data-setup="{}">
                        <source src="{{media[0].url}}" type='video/mp4'>
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    	</video>
                      
                    </div>
				</div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
                                
					<a href="https://skyboxsets.sngrn.co/v/{{ attendee.vanity }}/0/share/facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" class="button button-left share facebook">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/shareButton.png" alt="Share your photo to Facebook" border="0">
					</a>
					<a href="https://skyboxsets.sngrn.co/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:57px; margin-right:56px;">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/tweetButton.png" alt="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=web.download&url={{ "https://infinite-castle-5966.herokuapp.com/image.php?image=#{ media[0].url }&scene=#{ attendee.fields.selectedScene}&download=true"|url_encode }}" class="button share">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/downloadButton.png" alt="Save your photo to your computer" border="0">
					</a>
				</div>
			</div>
			<div>
				<div class="center-wrapper">
					<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo">
				</div>
			</div>
		</div>
		<div id="footer">
			<p><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=web.privacypolicy&url=https://help.sky.com/articles/sky-privacy-and-cookies-notice" alt="Privacy Policy">Privacy Policy</a> | <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/yamata/templates/541/terms_yamata.html" alt="Terms & Conditions">Terms & Conditions</a></p>
		</div>
        
        
        <script>
      
      $('.share.twitter').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
	</body>
</html>