<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
		html,body{
			font-family: Arial, Helvetica, sans-serif;
		}
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>

<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">
<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">

<!-- HEADER AREA -->
<tr>
	<td>
		<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td class="spacer">
					<img style="display:block;" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

				<td class="pad">
					<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/>
				</td>

				<td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Believe in better<br/>
					<a href="https://yourskyphoto.qndr.io/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a>
				 </td>

				<td class="spacer">
					<img style="display:block;" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

			</tr>
		</table>
	</td>
</tr>

<tr><td style="line-height:1px; font-size:0px;" height="20"></td></tr>

<!-- TITLE AREA -->
<tr>
	<td class="pad">
		<h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#C71273;">Share your moment with Sky</h2>
	</td>
</tr>



<!-- PHOTO AREA -->
<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="photo" bgcolor="#e3e1eb">
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="{{ media[0].posterurl }}" alt="Click to view" width="403" height="227" border="0" style="display:block;" title="Click to view"/>
					</a>
				</td>
				

				<td id="social" class="spacer" valign="middle" align="center" width="40%" bgcolor="#e3e1eb">
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/>
					</a>
					
					<img style="display:block;" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/>
					</a>
					
					<img style="display:block;" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/>
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>

<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">
		<p>Hello {{ firstname }},
			<br />
			<br />
			Thanks for sharing a moment with Sky today, here’s your photo to share with your family and friends.
			<br />
			<br />
			Explore our range of Sky TV bundles with entertainment for all the family to enjoy, plus unlimited broadband and call packages.
		</p>
		<p>
			<br />
			<span align="center" style="display: block; text-align: center">
				<a href="http://www.sky.com/shop">
					<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-find-out-more.png" width="130" height="35" title="Find Out More" border="0" />
				</a>
			</span>
		</p>
		</td>
</tr>
	<tr>
		<td style="line-height:1px; font-size:0px;" height="20"></td>
	</tr>
		
		
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            
			<tr>
				<td>
					<a href="http://www.sky.com/tv/show/bella-and-the-bulldogs">
						<img style="display:block;" class="scale" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/bella.jpg" width="298" height="148" border="0" alt="" title="Bella and the Bulldogs" />
					</a>
				</td>

				<td class="spacer">
					<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="4" height="5" border="0" alt=""/>
				</td>
				
				<td class="spacer">
					<a href="http://www.sky.com/watch/channel/sky-1/limitless">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/limitless.jpg" alt="Limitless" width="298" height="148" class="scale" style="display:block;" title="Limitless" border="0" />
					</a>
				</td>
			</tr>

			<tr>
				<td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td class="spacer"></td>
				<td class="spacer" bgcolor="#E3E1EB"></td>
			</tr>

			<tr>
				<td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
					<strong>Bella and the Bulldogs</strong>
					<br />
					Bella and the Bulldogs follows a head cheerleader named Bella whose life in Texas takes an unexpected twist when she becomes the new quarterback for her school team, the Bulldogs.
				</td>
				
				<td class="spacer"><img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="4" height="5" border="0" alt=""/></td>
				
				<td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
					<strong>Limitless</strong>
					<br />
					Brian Finch discovers the brain boosting power of the mysterious drug NZT and is quickly enrolled into the FBI to use his new cognitive abilities to solve complex cases from them. Brian quickly becomes the greatest asset to the FBI and a criminal’s worst nightmare.
				</td>
			</tr>

            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>

        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<a href="http://www.sky.com/watch/channel/sky-1/limitless">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/limitless.jpg" alt="Limitless" width="894" height="444" class="scale" style="display:block;" title="Limtless" border="0" />
					</a>
				</td>
			</tr>

			<tr>
				<td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td></td>
				<td bgcolor="#E3E1EB"></td>
			</tr>

			<tr>
				<td align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> 
					<strong>Limitless</strong>
					<br />
					Brian Finch discovers the brain boosting power of the mysterious drug NZT and is quickly enrolled into the FBI to use his new cognitive abilities to solve complex cases from them. Brian quickly becomes the greatest asset to the FBI and a criminal’s worst nightmare.
				</td>
			</tr>

			<tr>
				<td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td></td>
				<td bgcolor="#E3E1EB"></td>
			</tr>

		</table>
	</td>
</tr>
<!--<![endif]-->

<tr>
	<td style="line-height:1px; font-size:0px;" height="5"></td>
</tr>
<!-- IAF AREA -->

<tr><td class="pad">&nbsp;</td></tr>

<!-- FOOTER AREA -->
<tr>
	<td height="10" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
	
<tr>
	<td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;">
		<p>This email was sent to {{ email }}.
			<br />
			Please add noreply@yourskyphoto.co.uk to your address book or safe sender list.
			<br />
			<br />
			This email was sent to you by ©Sky UK Ltd 2016. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. 
			<br />
			<br />
			<a href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/Skyroadshowterms.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | 
			<a href="https://corporate.sky.com/site-services/privacy-policy" target="_blank" style="color:#999999;">Privacy Policy</a> | 
			<a href="https://yourskyphoto.qndr.io/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
			<br />
			Nickelodeon: © 2016 Viacom International Media Networks.
			<br />
			All rights reserved. Limitless © 2016 CBS Broadcasting Inc. All Rights Reserved.
			<br />
			<br />
			<small><strong>Subject to status. Upfront payment may be required.</strong> General: Prices may go up during your contract. Further terms apply. Correct at 19 January 2016.</small>
		</p>
	</td>
</tr>

</table>
</td>
</tr>
</table>
</body>
</html>