<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <!-- Segment: TVBB -->
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">More of the Box Sets everyone’s talking about<br/>
                    <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/email/{{ uuid }}&type=email.tvbb.browserVersion" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
        <img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/strapline-boxsets.gif" alt="Your Sky Box Sets Photo" width="353" height="28" border="0" id="strapline" style="display:block;" title="Your Sky Box Sets Photo"/>     </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}&type=email.tvbb.clickPhoto" target="_blank"><img src="https://infinite-castle-5966.herokuapp.com/image.php?image={{ media[0].url }}&scene={{#with fields}}{{selectedScene}}{{/with}}&email=true" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                  <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}&type=email.tvbb.download" target="_blank"><img src="http://quander-boxsets.s3.amazonaws.com/emails/cta-download-image.png" alt="View Photo" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/facebook?type=email.tvbb.shareFacebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-facebook.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/twitter?type=email.tvbb.shareTwitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-twitter.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}&type=email.tvbb.download" target="_blank"><img src="http://quander-boxsets.s3.amazonaws.com/emails/cta-download-image.png" alt="View Photo" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/facebook?type=email.tvbb.shareFacebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-facebook.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/twitter?type=email.tvbb.shareTwitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-twitter.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"> Hello {{ firstname }},<br />
      <br />
Thanks for taking part in our Sky Box Sets experience today, here’s your photo to share with your friends and family. <br />
<br />
Now that you’ve played a starring role in one of our great shows, why not immerse yourself in back-to-back episodes with Sky Box Sets available with the Family Bundle?<br />
<br />
You could have access to: <br />
<br />
<table border="0" cellspacing="0" cellpadding="0"><tbody>
	             <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;"> 75 channels of must-see TV including Sky Atlantic</td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;"> A huge library of over 300 Box Sets, with new titles added every month </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">Complete series, from the very beginning, with back-to-back episodes<br /></td>
        </tr>
</tbody></table>
       <br />
    <span align="center" style="display: block; text-align: center">
        <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.findOutMoreOne&url=https://buy.sky.com/hd-upgrades/campaign/tv-box-sets?DCMP=knc-Google-ec-UPG-OD-sky-box-sets"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-find-out-more.png" width="130" height="35" border="0" /></a></span>

	<br /><br />
    It doesn’t stop there. Great things come as standard with Sky TV, including:<br /><br />
    <table border="0" cellspacing="0" cellpadding="0"><tbody>
	             <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #8f8e8e;"> Great entertainment on the move with <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.skyGo&url=http://www.sky.com/products/ways-to-watch/sky-go/" style="color: #999999;"><strong>Sky Go </strong></a></td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;"> A wide selection of <strong><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.catchUpTV&url=http://www.sky.com/products/ways-to-watch/catch-up-tv/" style="color: #999999;">Catch Up TV</a></strong> at no extra monthly cost </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">Pause, rewind and record your favourite shows with <strong><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.skyPlus&url=http://www.sky.com/shop/b/sky-plus/?DCMP=ed-layer-JustGotBetter" style="color: #999999;">Sky+</a></strong><br /></td>
        </tr>
</tbody></table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.panelTrueDetective&url=http://www.sky.com/tv/show/box-sets/video/true-detective"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/panel-true_detective.jpg" width="298" height="148" border="0" alt=""/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.panelFortitude&url=http://www.sky.com/tv/show/box-sets/video/fortitude"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/panel-fortitude.jpg" width="298" height="148" border="0" alt=""/>
                    </a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">Two detectives and former partners who worked in Louisiana’s Criminal Investigation Division in the mid-1990s are interviewed separately by investigators about their most notorious case.<br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> Fortitude is one of the safest towns on earth. There has never been a violent crime here, until a murder unravels the town's frosty idyll and unearths its darkest secret. </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.panelFortitude&url=http://www.sky.com/tv/show/box-sets/video/fortitude">
                            <img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/panel-fortitude.jpg" width="600" height="300" border="0" alt=""/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                        Fortitude is one of the safest towns on earth. There has never been a violent crime here, until a murder unravels the town's frosty idyll and unearths its darkest secret.
                    </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">
        <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.iaf&url=https://my.sky.com/mysky/skyloyalty/introduceafriend/overview/indexb.html"><img class="scale" src="http://quander-boxsets.s3.amazonaws.com/emails/IAF-Banner-July.jpg" border="0" alt=""/></a>
    </td>
</tr>

<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"> This email was sent to {{ email }}<br />
Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
<br />
This email was sent to you by &copy;Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.<br />
<br />
<a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.terms&amp;url=https://quander-boxsets.s3.amazonaws.com/emails/terms.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.tvbb.privacypolicy&amp;url=http://help.sky.com/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skyboxsets.sngrn.co/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
            <br />
True Detective &copy;2015 Home Box Office, Inc. All rights reserved. HBO® and all related programs are the property of Home Box Office, Inc. <strong>On Demand:</strong> Downloading content requires compatible black Sky+ box, broadband connection (minimum recommended speed 2 Mbps). <strong>Sky Box Sets:</strong> Selection of shows/series available &amp; varies each month. Sky Store costs extra. Downloadable HD content takes longer to start viewing. Sky Movies Pack or Sky Sports Pack required for Sky Movies or Sky Sports. Family Bundle or another Sky HD subscription required for TV Box Sets. <strong>Sky Go:</strong> UK / Ireland only. Streamed via broadband/3G/4G (charges may apply). Some live TV programmes will be unavailable (go to - go.sky.com ). You’ll need the Family Bundle or another Sky HD subscription for TV Box Sets. Sky TV packages £20.00-£75.75 pm. <strong>Introduce a friend:</strong> Existing Sky TV Customers: Your friend must live at a different UK address to you. We will send you your £75 Prepaid card reward once we receive your friend's first subscription payment, as long as you are still with Sky. Offer not for Sky group employees or commercial use. Not available with any other offers. <strong>General:</strong> Prices may go up during your contract. Non-standard set-up may cost extra. You must get any consents required (e.g. landlord’s). Prices for DD payments only. Continuous debit/credit card mandate costs 50p pm. UK , Channel Islands and Isle of Man residential customers only. Further terms apply. Calls to Sky cost 15.97p plus 5.1ppm for BT customers. Other providers’ charges may vary. Correct at 20/05/2015.<br />
<br /></td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://skyboxsets.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>