<html xmlns="http://www.w3.org/1999/xhtml"><head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ISES 15th Birthday Party</title>
<link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script src="https://vjs.zencdn.net/4.7/video.js"></script>
  <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css">
	<link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
	<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://vjs.zencdn.net/4.7/video.js"></script>
	<style type="text/css">
    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	text-align: center;
}
img {
	height: auto;
}
.h1, .h2, .bodycopy, p {
	color: #656464;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: normal;
}
.h1 {
	padding: 20px 5px 0 5px;
	font-size: 32px;
	line-height: 48px;
}
.h2 {
	padding: 10px 5px 15px 5px;
	font-size: 22px;
	line-height: 33px;
}
.buttonwrapper {
	padding: 0px 0px 15px 0px;
}

#top {

	height: 230px;
	width: auto;
}
#top img {
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#video {
	width: 900px;
	height: 507px;
	position: relative;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 40px;
}

#video .video-js {
	border: 5px solid white;
}

#image-view {
	width: 900px;
	position: relative;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 40px;
}

#image-view img {
	border: 5px solid white;
}

#button-wrapper {
	width: 900px;
	height: 52px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 40px;
}

#button-wrapper.not-ready {
	opacity: 0.1;
}

#button-wrapper.not-ready a.button {
	cursor: default;
}

a.button {
	width: 220px;
	height: 52px;
	padding-left: 30px;
	padding-right: 30px;
}
a.button:hover {
	
}
#footer a:link {
	text-decoration: none;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
}
#footer a:hover {
	text-decoration: underline;
}

p#support-text {
	color: white;
	font-size: 20px;
	font-weight: 200;
}

p#support-text a, p#support-text a:visited, p#support-text a:active {
	font-weight: 400;
	color: white;
	text-decoration: underline;
}

p#support-text a:hover {
	text-decoration: underline;
}


.vjs-default-skin .vjs-big-play-button::before {
	line-height: 90px;
	text-shadow: none;
	font-size: 40px;
	color: black;
	padding-left: 2px;
	padding-top: 2px;
}

.vjs-default-skin .vjs-big-play-button, 
.vjs-default-skin .vjs-play-progress, 
.vjs-default-skin .vjs-volume-level {
background: #FFFFFF;
}

.vjs-default-skin .vjs-big-play-button
{
	top: 325px;
	left: 575px;
	margin: -4em auto auto -6em;
	background: rgba(255, 255, 255, 0.5);
	width: 90px;
	height: 90px;
	border-radius: 90px;
	border: 0px;
	line-height: 90px;
}
#share-row {
				margin-top: 40px;
			}

			#sky-logo {
				margin: 40px 0px;
			}
			
			.center-wrapper {
				width: 800px;
				margin: 0 auto;
				text-align: center;
			}


    </style>
	<meta property="fb:admins" content="100003540748106">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@quanderio">
	<meta name="twitter:creator" content="@quanderio">
	<meta name="twitter:title" content="ISES 15th Birthday Party">
	<meta name="twitter:description" content="From the height of cool in the loft at Egg London. Hope you enjoyed the amazing ISES UK 15th Birthday Party.  Stay Solid #morenifesto">
	<meta name="twitter:image:src" content="{{media[0].posterurl}}">
	<meta property="twitter:account_id" content="1378964220">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >

	<!-- Facebook -->
	<meta property="og:site_name" content="Great North Fun">
	<meta property="og:image" content="{{media[0].posterurl}}">
	<meta property="og:url" content="{{ ogURL }}">
	<meta property="og:title" content="Great North Fun">
	<meta property="og:description" content="#GreatNorthFun">
	
	
</head>
<body>

 <div id="header">
			<div class="center-wrapper">
				<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo" title="Sky"><p>&nbsp;</p>
                
				
			</div>
		</div>
	{% for file in media %}
                {% if file.type == 'video' %}
            <div id="video">
                   <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="507" loop poster="{{media[0].posterurl}}" data-setup="{}">
						<source src="{{media[0].url}}" type='video/mp4'>
						<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
            </div>

                {% else %}
	               	<div id="image-view">
						<img src="{{media[0].url}}" id="customer-content" width="900">
					</div>
                 {% endif %}
        {% endfor %}
  
  	  <div id="button-wrapper">
    	<a class="button" href="https://qndr.io/v/{{ attendee.vanity }}/0/download">
    	<img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-roFFkL/demo-project/templates/484/downloadButton.png" width="220" height="50" border="0" alt="Download your video to your computer"></a>
    <a class="button button-center share twitter" href="https://qndr.io/v/{{ attendee.vanity }}/0/share/twitter"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-roFFkL/demo-project/templates/484/tweetButton.png" width="220" height="52" border="0" alt="Share your video on Twitter"></a>
    <a data-social="{{ media[0]|shareObject }}" class="button button-right facebook" href="https://qndr.io/v/{{ attendee.vanity }}/0/share/facebook"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-roFFkL/demo-project/templates/484/shareButton.png" width="220" height="52" border="0" alt="Share your video on Facebook"></a>
  </div>
    
    	<div id="footer">
			<p><a href="http://www.sky.com/help/articles/sky-privacy-and-cookies-notice" alt="Privacy Policy">Privacy Policy</a> | <a href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/843/GOTterms.html" alt="Terms & Conditions">Terms & Conditions</a></p>
		</div>
    <script>
         
      $('.share.twitter').on('click', function(e){
	e.preventDefault();
	window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
	return false;
});
</script>     
<script src="https://s3-eu-west-1.amazonaws.com/quander-assets/social/app.js"></script>
</body>
</html>