<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Just be you – Dublin Pride 2015<br />
                <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.viewInBrowser&url=https://skypride.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<!--
<tr>
    <td class="pad">
        <img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/strapline-cricket.gif" alt="Sky's biggest year of cricket" width="472" height="28" border="0" id="strapline" style="display:block;" title="Sky's biggest year of cricket"/>    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
-->
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skypride.sngrn.co/a/click/{{ uuid }}?type=email.tv.viewYourPhoto&url=https://skypride.sngrn.co/v/{{ vanity }}" title="View Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Photo"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.download&url=email.tv.download&url=https://skypride.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skypride.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank" title="Share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skypride.sngrn.co/v/{{ vanity }}/0/share/twitter" title="Share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://skypride.sngrn.co/a/click/{{ uuid }}?type=email.tv.download&url=https://skypride.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skypride.sngrn.co/v/{{ vanity }}/0/share/facebook" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skypride.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><span style="color:#8f8e8e;"> Hello {{ firstname }},</span><br/>
      <br/>
      It was great to see you at the Sky Experience at Dublin Pride.  Here’s your photo to download and share with your friends and family.
      <br/><br/>
      It’s our people who make Sky Ireland and the UK’s  leading entertainment company. That’s why we work hard to be an inclusive employer, so everyone at Sky can be their best. And that's why we give people the freedom to ‘Just be’ themselves.
          <br/><br/>
          <strong>Fill your world with entertainment</strong>
<br/><br/>
        Great things come as standard with Sky, find out more about our <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.panelModernFamily&url=http://www.sky.com/ireland/offers/" title"Latest Offers" style="color:#999999;"><strong>latest offers.</strong></a>
        <br /><br />

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.panelModernFamily&url=http://www.sky.com/tv/show/modern-family" title="Modern Family"><img style="display:block;" class="scale" src="http://quander-pride.s3-eu-west-1.amazonaws.com/dublin/Modern-family-panel-image.jpg" width="298" height="148" border="0" alt=""/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.panelStrikeBack&url=http://www.sky.com/tv/show/strike-back" title="Strike Back"><img style="display:block;" class="scale" src="http://quander-pride.s3-eu-west-1.amazonaws.com/dublin/strike-back--panel-image.jpg" width="298" height="148" border="0" alt=""/>
                    </a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">Three generations of one sprawling, blended family give us an honest and often hilarious look into the sometimes warm, sometimes twisted, embrace of the modern family.<br />
                  <br />
                *Sky HD subscription required <br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> High octane, explosive action drama like nothing else on British TV. Set in South-East Asia, Section 20 return to face their toughest foe yet. A seemingly small mission begins in Thailand where Section 20 are assisting Locke in rescuing the daughter of the British Ambassador. <br />
                  <br />
                *Sky HD subscription required <br /></td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.panelStrikeBack&url=http://www.sky.com/tv/show/strike-back" title="Strike Back">
                            <img style="display:block;" class="scale" src="http://quander-pride.s3-eu-west-1.amazonaws.com/dublin/strike-back--panel-image.jpg" width="298" height="148" border="0" alt=""/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> Watch all four days of thHigh octane, explosive action drama like nothing else on British TV. Set in South-East Asia, Section 20 return to face their toughest foe yet. A seemingly small mission begins in Thailand where Section 20 are assisting Locke in rescuing the daughter of the British Ambassador. <br />
                      <br />
                    *Sky HD subscription required e US Open live only on Sky Sports. </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">
      <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.introduceAFriendBanner&url=http://www.sky.ie/friend"><img src="http://quander-pride.s3-eu-west-1.amazonaws.com/dublin/Introduce-a-friend.png" alt="" width="600" class="scale" title="Introduce a freind" border="0" /></a>
    </td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"> This email was sent to {{ email }}.<br />
Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
<br />
This email was sent to you by Sky Subscribers Services Ltd 2015. Sky Subscribers Services Ltd (company no. 02340150) has its Irish office at One Burlington Plaza, Burlington Road, Dublin 4. <br />
<br />
<a href="https://sngrn.co/a/click/{{ uuid }}?type=email.1618.termsAndconditions&url=http://www.sky.com/ireland/terms-conditions/" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> | <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.1618.termsAndConditions&url=http://www.sky.com/ireland/terms-conditions/privacy-statement/" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skypride.sngrn.co/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
            <br />
            <br />
Modern Family™ & © 2013-2014 Twentieth Century Fox Film Corporation. All rights reserved. Artwork: © 2013 American Broadcasting Companies. All rights reserved. <br />
<p style="text-align: justify;"><strong>Subject to status. Upfront payment may be required. On Demand:</strong> Available to Sky TV customers with compatible Sky+ box. Downloading content requires min 2Mbps broadband connection. Downloads count towards usage cap. Content depends on your Sky TV/HD subscription. Selected channels/programmes on Catch Up. Box Sets: Selection of shows/series available & varies each month. Sky HD subscription required for TV Box Sets. Sky Store costs extra. <strong>Sky Go:</strong> Ireland/UK only. Streamed via broadband/3G/4G (charges may apply).  Some live TV programmes will be unavailable (go to - go.sky.com). <strong>Sky TV Customers</strong> Selected channels and on demand content available at no extra cost depending on your Sky TV subscription. You'll need Sky Movies 1&2 or Sky Sports 1&2 Packs for on demand Sky Movies or Sky Sports. Sky HD subscription required for TV Box Sets. <strong>Existing Sky TV Customers:</strong> Available to an existing Sky TV subscriber in ROI must follow the instructions in this advert to get a brand new customer (who is not a member of their household) to subscribe to Sky TV. The €75 cheque will be sent within 45 days of you submitting your claim. One cheque per new customer household. The existing customer must remain an active subscriber to qualify. Cannot be used in conjunction with any other offer. Offer excludes Sky group employees and agents. Further terms apply.
<br />
<strong>General:</strong> Prices may go up during your contract. Non-standard set-up may cost extra. Sky+ functionality requires two satellite feeds. You must get required consents (e.g. landlord's). Prices for DD payments only. Continuous debit/credit card mandate costs 75c pm. Irish residential customers only.  Further terms apply.  Correct at 19 June 2015.
</p></td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://skypride.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>