<html>
	<head>
        <title>Sky Box Sets</title>
        
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="Get into Sky Box Sets">
        <meta name="twitter:title" content="I jumped into a #skyboxset">
        <meta name="twitter:description" content="I jumped into a #skyboxset">
        <meta name="twitter:player:height" content="1280">
        <meta name="twitter:player:width" content="720">
        <meta property="twitter:url" content="{{ ogURL }}">
        <meta name="twitter:player" content="{{ ogURL }}">
      <meta name="twitter:image:src" content="https://infinite-castle-5966.herokuapp.com/image.php?image={{ media[0].url }}&scene={{ attendee.fields.selectedScene }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="Get into Sky Box Sets"/>
        <meta property="og:title" content="I jumped into a #skyboxset"/>
        <meta property="og:description" content="I jumped into a #skyboxset" />
            <meta property="og:image" content="https://infinite-castle-5966.herokuapp.com/image.php?image={{ media[0].url }}&scene={{ attendee.fields.selectedScene }}">
      <meta property="og:image:secure_url" content="https://infinite-castle-5966.herokuapp.com/image.php?image={{ media[0].url }}&scene={{ attendee.fields.selectedScene }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
        <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css" />
	</head>
	<body  data-scene="{{ attendee.fields.selectedScene }}">
		<div id="header">
			<div class="center-wrapper">
				<img id="logo" src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-box-sets-bug.png">
				<img id="slogan" src="https://quander-boxsets.s3.amazonaws.com/website/images/slogan-right.png">
			</div>
		</div>
		<div id="main-content">
			<div>
				<div class="center-wrapper outer-container">
					<div id="animation-container">
                        <img src="{{ media[0].url }}" id="animation-background" width="100%" height="100%" />
                        <canvas id="animation-overlay" width="1280" height="720"></canvas>
                        <div class="progressIndicator"><div class="progress">&nbsp;</div></div>
                    </div>
				</div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
					<a href="https://skyboxsets.sngrn.co/v/{{ attendee.vanity }}/0/share/facebook" class="button button-left share">
						<img src="https://quander-boxsets.s3.amazonaws.com/website/images/facebook-share.png" alt="Share your photo to Facebook" border="0">
					</a>
					<a href="https://skyboxsets.sngrn.co/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share" style="margin-left:57px; margin-right:56px;">
						<img src="https://quander-boxsets.s3.amazonaws.com/website/images/twitter-share.png" alt="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=web.download&url={{ "https://infinite-castle-5966.herokuapp.com/image.php?image=#{ media[0].url }&scene=#{ attendee.fields.selectedScene}&download=true"|url_encode }}" class="button share">
						<img src="https://quander-boxsets.s3.amazonaws.com/website/images/save-image.png" alt="Save your photo to your computer" border="0">
					</a>
				</div>
			</div>
			<div>
				<div class="center-wrapper">
					<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo">
				</div>
			</div>
		</div>
		<div id="footer">
			<p><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=web.privacypolicy&url=https://help.sky.com/articles/sky-privacy-and-cookies-notice" alt="Privacy Policy">Privacy Policy</a> | <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=web.terms&url=https://quander-boxsets.s3.amazonaws.com/emails/terms.html" alt="Terms & Conditions">Terms & Conditions</a></p>
		</div>
        
        <script src="https://quander-boxsets.s3.amazonaws.com/website/js/app.js"></script>
        
        <script>
      
      $('.share').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
	</body>
</html>