<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Sky Q Portrait image</title>

    <!-- Twitter -->

    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@yourTwitterAccount">
    <meta name="twitter:creator" content="@yourTwitterAccount">
    <meta name="twitter:title" content="Your twitter text">
    <meta name="twitter:description" content="Your twitter text">
    <meta name="twitter:player:height" content="1280">
    <meta name="twitter:player:width" content="720">
    <meta property="twitter:account_id" content="" />
    <meta property="twitter:url" content="{{ ogURL }}">
    <meta name="twitter:player" content="{{ ogURL }}">
    <meta name="twitter:image:src" content="{{media[0].url}}">

    <!-- Facebook -->

    <meta property="og:url" content="{{ ogURL }}" />
    <meta property="og:site_name" content="Sky Q"/>
    <meta property="og:title" content="Sky Q"/>
    <meta property="og:description" content="Sky Q" />
    <meta property="og:image" content="{{ media[0].url }}">
    <meta property="og:image:secure_url" content="{{ media[0].url }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link href="https://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/4.12/video.js"></script>
    <style type="text/css" media="screen">
/* http://meyerweb.com/eric/tools/css/reset/ 
          v2.0 | 20110126
          License: none (public domain)
        */

html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: Arial;
}
html {
	background-color: #FFFFFF;
}
#branding {
	width: 100%;
	text-align: center;
	background: #FFFFFF;
}
#branding img {
	padding: 20px 0;
	display: block;
	margin: 0px auto;
}
#video-content {
	margin: 30px auto;
}
.video-outer-container {
	position: relative;
	width: 50%;
	margin: 0px auto;
}
.video-outer-container:before {
	content: "";
	display: block;
	padding-top: 56.25%;
}
.video-inner-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: black;
}

#powered-by {
	text-align: center;
	font-size: 13px;
	margin: 0px auto;
	color: white;
	padding: 10px 0;
}

#powered-by-quander {
	height: 60px;	
}
#share {
	text-align: center;
	clear: both;
	margin: 0 0 30px 0;
}
#button-wrapper {
	width: 900px;
	height: 52px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
}
#button-wrapper.not-ready {
	opacity: 0.1;
}
#button-wrapper.not-ready a.button {
	cursor: default;
}
a.button {
	display: inline-block;
	width: 220px;
	height: 52px;
	padding-left: 30px;
	padding-right: 30px;
}
a.button:hover {
}
a:link,  a:visited,  a:hover,  a:active {
	color: RGBA(196, 33, 45, 1);
}
.vjs-default-skin {
	color: #ffffff;
}
.vjs-default-skin .vjs-play-progress,  .vjs-default-skin .vjs-volume-level {
	background-color: #000000
}
.vjs-default-skin .vjs-control-bar,  .vjs-default-skin .vjs-big-play-button {
	background: rgba(255, 255, 255, 0.7)
}
.vjs-default-skin .vjs-slider {
	background: rgba(255, 255, 255, 0.2333333333333333)
}
.vjs-default-skin .vjs-control-bar {
	font-size: 60%
}
a.button1 {
	display: inline-block;
	width: 220px;
	height: 52px;
	padding-left: 30px;
	padding-right: 30px;
}
</style>
    </head>
    <body>
    
    <div id="content-wrapper">
    
      <div id="branding" class="black" >
      	<a title="Sky Q logo" href="https://yourphoto.qndr.io/a/click/{{ uuid }}?type=web.2kwebsite&url=http://www.sky.com/skyq/"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/708/Sky-Q-lockup-spectrum-asset-RGB.png" alt="Sky Q Logo" height="150" title="Sky Q Logo" border="0"></a>
      </div>
      <div id="video-content">
    		<div class="video-outer-container">
                <div class="video-inner-container">
                    <img src="{{ media[0].posterurl }}" width="100%" height="100%" />
                </div>
        </div>
      </div>
        
      <div id="button-wrapper">
      	<a class="button share" href="https://yourphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook">
        	<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/shareButton.png" width="220" height="52" border="0" title="Share Your Photo on Facebook" alt="Share your Photo on Facebook">
        </a>
        <a class="button share" href="https://yourphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter">
        	<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/tweetButton.png" width="220" height="52" border="0" title="Share Your Photo on Twitter"alt="Share your Photo on Facebook">
        </a>
        <a class="button1" href="https://yourphoto.qndr.io/v/{{ attendee.vanity }}/0/download">
        	<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/downloadButton.png" width="220" height="52" border="0" title="Download Your Photo" alt="Share your Photo on Facebook">
        </a>
 

<script>
      
      $('.share').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

        </script>
</body>
</html>