<html>
	<head>
        <title>Step into the Adventure with Sky Movies</title>
        <link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
		<script async="" src="//www.google-analytics.com/analytics.js"></script>
		<script src="https://vjs.zencdn.net/4.7/video.js"></script>
        <meta name="twitter:card" content="player">
        <meta name="twitter:site" content="I mastered the moves of a Kung Fu Panda. Check out my photos.">
        <meta name="twitter:title" content="I mastered the moves of a Kung Fu Panda. Check out my photos.">
        <meta name="twitter:description" content="I mastered the moves of a Kung Fu Panda. Check out my photos.  ">
        <meta name="twitter:player:height" content="1280">
        <meta name="twitter:player:width" content="720">
        <meta property="twitter:url" content="{{ ogURL }}">
        <meta name="twitter:player" content="{{ ogURL }}">
      <meta name="twitter:image:src" content="{{ media[0].url }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="I mastered the moves of a Kung Fu Panda. Check out my photos."/>
        <meta property="og:title" content="I mastered the moves of a Kung Fu Panda. Check out my photos."/>
        <meta property="og:description" content="I mastered the moves of a Kung Fu Panda. Check out my photos." />
            <meta property="og:image" content="{{ media[0].url }}">
      <meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
        <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css" />
        <style>
		
			body, html {
				background: white;
			}
		
		</style>
	</head>
	<body>
		<div id="header">
			<div class="center-wrapper">
				<p><a href="http://www.sky.com/skyq/"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/708/Sky-Q-lockup-spectrum-asset-RGB.png" alt="Sky Q" height="80" id="logo" title="Sky  Q"></a>				  </p>
				<p>&nbsp;</p>
				<p><img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/711/Introducing-Fluid-Viewing.png" alt="Fluid Viewing" height="31" id="slogan" title="Fluid Viewing"></p>
			</div>
		</div>
		<div id="main-content">
			<div>
				<div class="center-wrapper">
                
                
					<img src="{{ media[0].url }}" id="customer-content">
				</div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
                                
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" class="button button-left share facebook">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/shareButton.png" alt="Share your photo to Facebook" title="Share your photo to Facebook" border="0">
					</a>
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:57px; margin-right:56px;">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/tweetButton.png" alt="Share your photo to Twitter" title="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/download" class="button share">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/downloadButton.png" alt="Save your photo to your computer" border="0">
					</a>
				</div>
			</div>
			<div>
				<div class="center-wrapper">
					<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo" title="Sky">
				</div>
			</div>
		</div>
		<div id="footer">
			<p><a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" alt="Privacy Policy">Privacy Policy</a> | <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/kfpterms.html" alt="Terms & Conditions">Terms & Conditions</a></p>
		</div>
        
        
        <script>
      
      $('.share.twitter').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
	</body>
</html>