<!DOCTYPE html>
<html>
	<head>
        <title>Introducing Fluid Viewing</title>
        <link rel="shortcut icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
		<link rel="icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
        <link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
		<script async="" src="//www.google-analytics.com/analytics.js"></script>
		<script src="https://vjs.zencdn.net/4.7/video.js"></script>
      
      <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SkyUK">
<meta name="twitter:creator" content="@quanderio">
<meta name="twitter:title" content="Introducing Fluid Viewing">
<meta name="twitter:description" content="Check out my Fluid Portrait from the Sky Q photobooth at Sky. Coming soon to a centre near you http://www.sky.com/skyq/">
<meta name="twitter:image" content="{{ media[0].posterurl }}">
      
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="Introducing Fluid Viewing"/>
        <meta property="og:title" content="Introducing Fluid Viewing"/>
        <meta property="og:description" content="Introducing Fluid Viewing" />
            <meta property="og:image" content="{{ media[0].url }}">
      <meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
	<style>
		
		html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	padding-top: 3px;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}

			body {
				margin: 0;
				padding: 0;
				text-align: center;
				
				height: 100%;
				position: relative;
			}

			#header {
	width: 100%;
	height: 150px;
	background-color: white;
	z-index: 100;
	position: relative;
			}
			
			#footer {
				width: 100%;
				height: 30px;
				background-color: white;
				padding-top: 15px;
                margin-top: -45px;
			}

			#logo {
	float: left;
	margin-left: 0;
	margin-top: -20px;
	margin-bottom: -10px;
			}
			
			#slogan {
				float: right;
				margin-right: 0;
				margin-top: 15px;
			}

			#customer-content {
	width: 60%;
	height: auto;
	margin-top: 0px;
	/* [disabled]-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75); */
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	border: thin solid
#;
	border: thin solid #828386;
	/* [disabled]box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75); */
	margin-bottom: -40px;
			}
            
            .outer-container {
                padding-top: 150px;   
            }
            
            #main-content {
	background-image: url('');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-color: white;
	min-height: 100%;
	margin-top: -100px;
	padding-bottom: 50px;
	box-sizing: border-box;
	margin-bottom: -100px;
            }
            
            #animation-container {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
                width: 100%;
                overflow: hidden;
                -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
            }

            #animation-overlay,
            #animation-background {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: top left;
            }

            .progressIndicator {
                width: 100%;
                height: 5px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transition: bottom 2s, opacity 2s;
                -webkit-transition: bottom 2s, opacity 2s;
            }

            .progressIndicator.ready {
                bottom: -5px;
                opacity: 0;
            }

            .progressIndicator .progress {
                width: 0%;
                left: 0px;
				top: 0px;
position: absolute;
                height: 100%;
                background-color: #DD0626;
                transition: width 2s;
                -webkit-transition: width 2s;
            }

			#share-row {
				margin-top: 40px;
				text-align: center;
			}

			#sky-logo {
	margin-top: -0px;
	margin-right: -0px;
	margin-left: -0px;
	margin-bottom: 0px;
			}
			
			.center-wrapper {
	width: 800px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
			}

			#footer a:link {
				text-decoration: none;
				color: black;
				font-family: Helvetica, Arial, sans-serif;
			}

			#footer a:hover {
				text-decoration: underline;
			}

			.button {
				display: inline-block;
			}
		
		</style>
	</head>
	<body style="background: white">
		<div id="header">
			<div class="center-wrapper">
				<p><a href="http://www.sky.com/skyq/"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/Header_02%20Transparent_02.png" alt="Sky Q" height="230" id="logo" title="Sky  Q"></a>				  </p>
				<p>&nbsp;</p>
				<p>
		</div>
		<div id="main-content" >
       
    <div>
				<div class="center-wrapper">
                
                
					<img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/customer_data/5D8352EF-458A-49D5-B30F-5CB3EF9937E6.jpg" width="1080" height="1439" id="customer-content">
	    </div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
                                
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" data-social="{{ media[0]|shareObject }}" class="button button-left facebook">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/facebook.png" alt="Share your photo to Facebook" height="45" title="Share your photo to Facebook" border="0">
					</a>
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:25px; margin-right:25px;">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/twitter.png" alt="Share your photo to Twitter" height="45" title="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/download" class="button share">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/download.png" alt="Save your photo to your computer" height="45" border="0">
					</a>
			<div>
            <div>
				<div class="center-wrapper">
                
                
					<img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/711/Six%20Fluid%20Portraits.JPG" width="40%" height="500" id="customer-content">
	    </div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
                                
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" data-social="{{ media[0]|shareObject }}" class="button button-left facebook">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/facebook.png" alt="Share your photo to Facebook" height="45" title="Share your photo to Facebook" border="0">
					</a>
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:25px; margin-right:25px;">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/twitter.png" alt="Share your photo to Twitter" height="45" title="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/download" class="button share">
						<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/download.png" alt="Save your photo to your computer" height="45" border="0">
					</a>
			<div>
				  <div class="center-wrapper">
					<a href=" https://twitter.com/search?q=%23fluidviewing&amp;src=typd"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/Hashtag.png" id="sky-logo2" title="Hashtag" alt="Hashtag"></a>
				</div>
                <div class="center-wrapper">
					<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/Sky_logo.png" id="sky-logo" title="Sky Logo">
				</div>
			</div>
		</div>
		<div id="footer">
		  <p>&nbsp;</p>
		</div>
        
        
        <script>
      
      $('.share.twitter').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
              
              <script src="https://s3-eu-west-1.amazonaws.com/quander-assets/social/app.js"></script>
	</body>
</html>