<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Introducing Fluid Viewing</title>
<link rel="shortcut icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
<link rel="icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
<link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script src="https://vjs.zencdn.net/4.7/video.js"></script>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SkyUK">
<meta name="twitter:creator" content="@quanderio">
<meta name="twitter:title" content="Introducing Fluid Viewing">
<meta name="twitter:description" content="Check out my Fluid Portrait from the Sky Q photobooth at Sky. Coming soon to a centre near you http://www.sky.com/skyq/">
<meta name="twitter:image" content="{{ media[0].posterurl }}">

<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<!-- Facebook -->
<meta property="og:url" content="{{ ogURL }}" />
<meta property="og:site_name" content="Introducing Fluid Viewing"/>
<meta property="og:title" content="Introducing Fluid Viewing"/>
<meta property="og:description" content="Introducing Fluid Viewing" />
<meta property="og:image" content="{{ media[0].url }}">
<meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
<meta property="og:image:type" content="image/jpeg" /> 
<meta property="og:image:width" content="1280" /> 
<meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>

<style>
*{
	margin: 0;
	padding: 0;
	outline: none;
}
body{
	font-size: 100%;
}
a:active, a:hover{
	outline: none;
}
a img{
	border: none;
}
img{
	max-width: 100%;
	display: block;
}
#wrapper{
	max-width: 480px;
	padding: 30px 5%;
	margin: 0 auto;
}
#logo{
	width: 308px;
	height: 161px;
	margin: 0 auto 30px;
	display: block;
}
#logo img{
	width: 308px;
	height: 161px;
}
#portrait, #composite_portrait{
	width: auto !important;
	height: auto !important;
	display: block;
	border: solid 1px #828386;
}
.share_btns{
	width: 100%;
	margin: 25px auto;
	display: block;
	text-align: center;
}
.share_btns li{
	width: 42px;
	height: 42px;
	margin-left: 20px;
	display: inline-block;
	list-style: none;
}
.share_btns li:first-child{
	margin-left: 0;
}
#hashtag_fv{
	width: 100%;
	height: 27px;
	margin: 0 auto 17px;
	display: block;
}
#hashtag_fv img{
	width: 175px;
	height: 27px;
	margin: 0 auto;
}
#foot_logo{
	width: 100px;
	height: 71px;
	display: block;
	margin: 0 auto;
}
</style>
</head>
<body>
<div id="wrapper">
	<a href="http://www.sky.com/skyq/" id="logo"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/783/Sky-Q-Share-your-Fluid-Portrait.jpg" width="308" height="161" alt="Sky Q - Share your Fluid Portrait"/></a>
	<img src="{{ media[0].url }}" alt="Your Fluid Portrait" id="portrait"/>
	<ul class="share_btns">
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" data-social="{{ media[0]|shareObject }}" class="button button-left facebook">
			<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/facebook.png" alt="Share your photo to Facebook" width="42" height="42" title="Share your photo to Facebook" border="0">
			</a>
		</li>
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter">
				<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/twitter.png" alt="Share your photo to Twitter" width="42" height="42" title="Share your photo to Twitter" border="0">
			</a>
		</li>
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/download" class="button share">
				<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/download.png" alt="Save your photo to your computer" width="42" height="42">
			</a>
		</li>
	</ul>
	{% if media[1] %}
	<img src="{{ media[1].url }}" alt="Fluid portraits" id="composite_portrait"/>
	<ul class="share_btns">
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[1].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[1].type }}" data-social="{{ media[1]|shareObject }}" class="button button-left facebook">
			<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/facebook.png" alt="Share your photo to Facebook" width="42" height="42" title="Share your photo to Facebook" border="0">
			</a>
		</li>
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/1/share/twitter" class="button button-center share twitter">
				<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/twitter.png" alt="Share your photo to Twitter" width="42" height="42" title="Share your photo to Twitter" border="0">
			</a>
		</li>
		<li>
			<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/1/download" class="button share">
				<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/download.png" alt="Save your photo to your computer" width="42" height="42">
			</a>
		</li>
	</ul>
	{% endif %}
	<a href="https://twitter.com/search?q=%23fluidviewing&amp;src=typd" id="hashtag_fv"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/783/fluid-viewing.jpg" alt="#FluidViewing"/></a>
	<img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/783/Sky-logo.jpg" alt="Sky logo" id="foot_logo"/>
</div>
<script>
$('.share.twitter').on('click', function(e){
	e.preventDefault();
	window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
	return false;
});
</script>     
<script src="https://s3-eu-west-1.amazonaws.com/quander-assets/social/app.js"></script>
</body>
</html>
