<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Your Sky Q Fluid Portrait</title>
<style type="text/css">
body{
	background-color: #EDECEC;
}
body, tr, h1, h2, h3, p, div{
	margin: 0;
	padding: 0;
}
h1, p{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	color: #7E8083;
}
.small{
	font-size: 13px;
}
a{
	color: #7E8083;
}
strong{
	font-weight: bold;
}
@media screen and (max-width: 600px) {
	table[id="wrapper"]{
			width:100% !important;
	}
	img[id="portrait"]{
		width: 50% !important;
	}
}
</style>
<!--[if gte mso 9]>
<style type="text/css">
table[id="wrapper"]{
	width: 600px !important;
}
img[class="fluid"]{
	max-width: 556px !important;
	width: 556px !important;
	height: auto !important;
}
</style>
<![endif]-->
</head>
<body style="background-color: #EDECEC; margin: 0; padding: 0;" bgcolor="#EDECEC">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#edecec" style="background-color: #edecec;">
	<tr style="margin: 0; padding: 0;">
		<td>
			<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" id="wrapper">
				<tr style="margin: 0; padding: 0;">
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="background-color: #FFFFFF;">
							<tr style="margin: 0; padding: 0;">
								<td width="2" bgcolor="#A72879" valign="top" style="width: 2px; background-color: #A72879; vertical-align: top;"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/side-border-img-left.gif" width="2" height="1180" alt="Left border"></td>
								<td align="center" valign="top" style="padding: 20px; vertical-align: top;">
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 13px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 5px 0 30px; padding: 0;"><a href="https://yourskyphoto.qndr.io/email/{{ vanity }}"  title="view in broswer" target="_blank" style="color: #7E8083;">View in browser</a></variable></p>
									<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/Sky-Q-logo.jpg" width="150" height="146" alt="Sky Q logo">
									<div style="margin-top: 30px; margin-bottom: 35px;">
										<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/Sky-Q-header-text.gif" width="556" height="" vspace="30" class="fluid" style="max-width: 556px; width: 100%; height: auto !important; margin-top: 30px; margin-bottom: 30px; display:block;" alt="Thank you for taking part in our Sky Q experience today. We hope you enjoyed making your Sky Q Fluid Portrait.">
									</div> <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Email view Your Photo" target="_blank">
									<img src="{{ media[0].posterurl }}" style="width: 37%; height: auto !important;" alt="Your Sky Q Fluid Portrait" id="portrait"></a>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 20px 0 40px; padding: 0;"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" style="color: #7E8083;"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/share-icons.gif" width="162" height="41" alt="Share your Fluid Portrait" style="border:none;"/></a></p>
									<div style="margin-top: 50px; margin-bottom: 10px;">
										<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/This-is-Fluid-Viewing.gif" width="556" height="" class="fluid" style="max-width: 556px; width: 100%; height: auto !important;" alt="This is Fluid Viewing">
									</div>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 0; padding: 0;">A seamless viewing experience, inspired by the way you watch. Access your TV and recordings like never before, on TV screens and tablets around your home. Sky Q launches soon.</p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 15px 0 40px; padding: 0;"><a href="http://www.sky.com/skyq/" target="_blank" style="color: #7E8083;"><strong style="font-weight: bold;">Find out more</strong></a></p>
									<img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/Sky-logo.gif" width="105" height="66" alt="Sky logo">
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 13px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 20px 0 0; padding: 0;">This email was sent to you by<br>©Sky UK Ltd 2016.</p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 13px; line-height: 18px; font-weight: normal; color: #7E8083; margin: 0; padding: 0;">Sky UK Ltd (company no.02906991) has its registered office at <br>Grant Way, Isleworth, Middlesex TW7 5QD</p>
									<p><a href="https://yourskyphoto.qndr.io/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a></p>
								</td>
								<td width="2" bgcolor="#064497" valign="top" style="width: 2px; background-color: #064497; vertical-align: top;"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/side-border-img-right.gif" width="2" height="1180" alt="Right border"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>