<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Sky Q Experience</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
  
</head>
<body style="margin: 0; padding: 0;">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="741">
            <tr>
                <td width="39" class="spacer">&nbsp;</td>
                <td width="42" class="pad">&nbsp;</td>

                <td width="639" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Fluid Viewing ™ has arrived <br />
                <a href="https://yourskyphoto.qndr.io/email/{{ vanity }}" target="_blank" style="color:#999999;">View in browser</a></td>
                <td width="21" class="spacer">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
   <tr bgcolor="#FFFFFF">
   
    <td align="center" height="150" style="">
          
          <p><a href="http://www.sky.com/skyq/" title="Sky Q logo"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/708/Sky-Q-lockup-spectrum-asset-RGB.png" height="150" style="height: 120px;" border="0" alt="Sky Q logo" title="Sky Q logo" /></a></p>
     </td>
   </tr>
  </table>
  
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
     <tr>
     <td height="18" width="600">&nbsp;
    <tr>
     <td class="h1" width="600"><font face="'Open 'Sky Text Medium'', sans-serif" color="#808080" size="4"> <font color="#808080">Thank you for taking part in our Sky Q experience today. We hope you enjoyed making your Sky Q Fluid Portrait. </font></font></td>
   </tr> 
     </td>
   
   <tr>
     <td align="center" height="338">
        <img src="{{ media[0].posterurl }}" alt="" width="450	" height="" border="0"/>
      </td>
   </tr>
 
     </td>
       <td class="h2" width="600" align="justify">&nbsp;</td>
  
   
 

  <table class="contenttable" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;"> 

   <tr>

 
     <td height="18" width="600"><span class="h2"><font face="'Open 'Sky Text Medium'', sans-serif" color="#808080" size="4"><span style="text-align: justify;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is Fluid Viewing. </span></font></span></td>
   </tr>

   
    
   

   <tr align="justify">
     <td class="h2" width="600" align="justify"><font face="'Open 'Sky Text Medium'', sans-serif" color="#808080" size="4"><span style="text-align: justify;"> Sky Q is our next-generation home entertainment service which makes it easier than ever to access all your favourite TV, whether live, recorded or on demand, on any screen. We’ll be launching Sky Q to customers in spring. </span></font></td>
   </tr>

   <tr> </tr>
      
   <tr>
     <td height="10" width="600">&nbsp;
         
      </td>
   </tr>



  <tr align="justify">
     <td class="h2" width="600" align="justify"><font face="'Open 'Sky Text Medium'', sans-serif" color="#808080" size="4"><span style="text-align: justify;">Click <a href="http://www.sky.com/skyq" title="SkyQ" style="color:#808080;">here</a> to find out more about Fluid Viewing.<br />
     </span></font></td> 
   </tr>
     <table class="buttonwrapper" width="600" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>   
      <td height="44" width="210">&nbsp;
        
      </td>

      <td class="button" height="44" width="180">
        <a title="View download and share your image" href="https://yourphoto.qndr.io/a/click/{{ uuid }}?type=email.download&url=https://sngrn.co/v/{{vanity}}"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ngsDuN/sky-q-test/templates/711/share-button.png" alt="Download" height="50" border="0"/></a>
      </td>

      <td height="44" width="210">&nbsp;
        
      </td>
    </tr>

  </table>
   <tr>
     <td height="37" width="600"><p>&nbsp;</p>
       <p></p>
     </td>
   </tr>
   
   <tr>
   
   		<td width="600" style="padding: 10px 10px;" align="center">&nbsp;</td>
   
   </tr>
   
      <tr>
     <td height="37" width="600"><p>&nbsp;</p>
       <p></p>
     </td>
   </tr>
   
  </table>
    
  <style type="text/css">
  body {margin: 0; padding: 0; min-width: 100%!important;}
  img {height: auto;}
  .h1, .h2, .bodycopy, .p {color: #000000; font-family: 'Open Sans', sans-serif; text-decoration: none; font-weight: 300;}
  .h1 {font-size: 22px; line-height: 33px;}
  .h2 {font-size: 22px; line-height: 33px; text-align: justify;}
  .p {font-size:12px; line-height:20px; text-align: justify;}
  .p span{font-size: 16px; line-height: 20px;}

  @media only screen and (max-width: 600px), screen and (max-device-width: 600px) {
  body[yahoo] .hide {display: none!important;}
  body[yahoo] .buttonwrapper {background-color: transparent!important;}
  table[class=contenttable] { 
            width: 560px !important;
            margin: 0 20px !important;
        }
  table[class=topspacer] {
           display: none !important;
      }
  }

  </style>

</html>