<!-- If you see this message, please enable HTML e-mail -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>

<title>NFL</title>

<style type="text/css">

		* {-webkit-text-size-adjust:none;} /* prevent iOS font upsizing */

		td {mso-line-height-rule: exactly; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;} 

		.ReadMsgBody {width: 100%;}

        .ExternalClass * {line-height: 100%}

		.ExternalClass p,

		.ExternalClass span,

		.ExternalClass font,

		.ExternalClass td

		{line-height: 100%}

		a {color:#2c2c2c;}

		a img {border:none; margin:0; padding:0;}

		body {padding: 0px; margin: 0px;}

		div, p, a, li, td, span { -webkit-text-size-adjust:none;}

      	.set_outlook_hidden {display: none !important;}

		.appleLinks a {color:#2c2c2c; text-decoration: none;}

       	table td {border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;}

</style>



</head>

<body bgcolor="#CCCCCC" style="-webkit-text-size-adjust:none;">

<!-- BEGIN SUPER SUBJECT LINE PREVIEW TEXT LOCATION -->

<div class="set_outlook_hidden" style="width: 0px; height: 0px; overflow: hidden; position: absolute; min-height: 0px; line-height: 0px; font-size: 0px;">

  <span style="color: #CCCCCC;">SUPER SUBJECT LINE</span>

  </div>

<!-- END SUPER SUBJECT LINE PREVIEW TEXT LOCATION -->

<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" background="" bgcolor="#CCCCCC">

  <tr>

    <td align="center" valign="top" bgcolor="#CCCCCC"><table width="600" border="0" cellpadding="0" cellspacing="0">

      <tr>

        <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#2c2c2c; padding:10px 0px 10px 0px;"><a href="[@Hosted Type='HTML'/]" style="text-decoration: underline; color:#2c2c2c;" target="_blank">View this email in your browser</a></td>

      </tr>

      <tr>

        <td align="center" valign="top" bgcolor="#001035"><a href="https://gamepass.nfl.com/nflgp/secure/packages?campaign=sp-nf-gp-em-em-1301221" target="_blank"><img src="http://epidm.edgesuite.net/CMS/NFL/Harmony/CAMPAIGN_IMAGES/OUTSOURCE/994656/NFL_GPI_email_eduOnBoard_FINAL-b_02.png" alt="NFL GAME PASS" width="261" height="72" style="display: block; font-family: Arial, Helvetica, sans-serif; color: #ffffff; font-size: 40px" border="0" /></a></td>

      </tr>

      <tr>

        <td align="left" valign="top" bgcolor="#0074b9"><table width="600" border="0" cellspacing="0" cellpadding="0" class="emailwrapto320" >

          <tr>

            <td class="resize320" width="600" valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size: 32px; color: #ffffff; line-height:38px; font-weight:bold; padding-top: 20px; padding-bottom: 20px; text-transform: uppercase;"><a href="http://[LINK]" target="_blank" style="color: #deb802; text-decoration:underline;">Click Here</a> to Watch your <br />

              NFL Touchdown Dance </a></td>

          </tr>

          <tr>

            <td class="resize320" valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; color: #ffffff; line-height:25px; font-weight:bold; padding-top: 0px; text-transform: uppercase;" >WAYS TO SHARE</td>

          </tr>

          <tr>

            <td class="resize320" valign="middle" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size: 20px; color: #ffffff; line-height:25px; font-weight:bold; padding-top: 0px; text-transform: uppercase;" ><table border="0" cellspacing="0" cellpadding="0">

              <tr>

                <td>&nbsp;</td>

                <td><a class="button share" href="http://www.facebook.com/sharer.php?u=https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Bitmap%20Copy%203.png" alt="Share your video on Facebook" width="108" height="90" title="Share Your Video on Facebook" border="0" align="middle" /></a><a class="button share" href="https://nflgamepass.sngrn.co/a/click/{{ uuid }}?type=web.tweet&amp;url=https://twitter.com/intent/tweet?text=See%20my%20moment%20in%20the%20spotlight%20presenting%20the%20headlines%20on%20Sky%20Sports%20News%20HQ%20https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Bitmap%20Copy%202.png" alt="Share your video on Twitter" width="135" height="105" title="Share Your Video on Twitter" border="0" align="middle" /></a><a class="button" href="https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}/0/download"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Rectangle%204%20%2B%20Triangle%201.png" alt="Download your video to your computer" width="80" height="70" border="0" align="middle" /></a></td>

                <td>&nbsp;</td>

              </tr>

            </table></td>

          </tr>

          </table></td>

      </tr>

      <tr>

        <td align="left" valign="top"><table width="600" border="0" cellpadding="0" cellspacing="0">

          <tr>

            <td width="317" align="left" valign="top" bgcolor="#0073B8"><a href="https://gamepass.nfl.com/nflgp/secure/packages?campaign=sp-nf-gp-em-em-1301221" style="color:#ffffff; text-decoration:none;" target="_blank"><img src="http://epidm.edgesuite.net/CMS/NFL/Harmony/CAMPAIGN_IMAGES/SUB_GAME_PASS/20150930_GPI_TD_Dance_P1_1_VEN/html/images/tv.jpg" width="317" height="237" border="0" alt="Game Pass" style="display:block;"/></a></td>

            <td width="283" align="left" valign="top" bgcolor="#0073B8">

              <table width="272" border="0" cellspacing="0" cellpadding="0" class="wrap" align="left">

                <tr>

                  <td width="272" align="left" valign="middle" bgcolor="#0073B8" style="font-family:Arial, Helvetica, sans-serif; font-size: 19px; color: #ffffff; line-height:22px; padding-top: 24px;"><b>Thank you for visiting the NFL Digital Lounge today!</b></font> <br />

                    <br />

                    Don&rsquo;t forget that <br />

                    <a href="https://gamepass.nfl.com/nflgp/secure/packages?campaign=sp-nf-is-em-em-1301365" target="_blank" style="color:#DEB802; text-decoration: underline;"><b>NFL Game Pass</b></a> and the <br />

                    <a href="https://www.nfl.com/apps?campaign=sp-nf-is-em-em-1301366" target="_blank" style="color:#DEB802; text-decoration: underline;"><b>NFL Mobile app</b></a> offer nonstop content, news and action wherever you are.</td>

                  </tr>

                </table>

              </td>

            </tr>

          </table></td>

      </tr>

      <tr>

        <td align="center" valign="middle" bgcolor="#0073B8" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">&nbsp;</td>

      </tr>

      <tr>

        <td align="center" valign="middle" bgcolor="#00427e" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff; padding-bottom: 20px; padding-top: 20px; padding-left: 20px; padding-right: 20px;">Certain restrictions apply. NFL Game Pass is only available to users located outside the United States, Mexico, Bermuda, Antigua, the Bahamas, and any U.S. territories, possessions and commonwealths. Additional blackout restrictions apply in the UK, Republic of Ireland and Canada. Availability of HD-quality video is subject to device internet-connection speed and to the system requirements for streaming content at higher bitrates. NFL Network and NFL Network archived shows are not available in Canada. For a full description of device-specific features, requirements, limitations, and other information, visit our <a href="http://gamepass.support.nfl.com/SportSelect.dbml?campaign=sp-nf-gp-em-em-1301221" style="color:#ffffff; text-decoration: underline;" target="_blank">FAQ</a>. For further details on <span class="appleLinks" style="color:#ffffff; text-decoration:none;">NFL.com</span> subscription product Terms and Conditions, including billing, please <a href="http://www.nfl.com/help/subscriptions_terms?campaign=sp-nf-gp-em-em-1301221" style="color:#ffffff; text-decoration: underline;" target="_blank">click here</a>. <br />

          <br />

          <span class="appleLinks">If you would like to adjust your profile, <a href="https://id2.s.nfl.com/fans/login" style="color:#ffffff; text-decoration: underline;" target="_blank">click here</a>.<br/>

            If you wish to unsubscribe please <a href="https://NFL.csharmony.epsilon.com/unsubscribe/unsubscribe?CustomerKey=${Profile.CustomerKey}&amp;Segment_CD=${LISTID.SEGMENT_CD}" target="_blank" style="color: #ffffff; text-decoration: underline;">click here</a>. <br/>

  <br/>

            Ensure that you continue to receive your e-mails from the National Football League,<br />

            please add <a href="mailto:NFL@email.nfl.com" target="_blank" style="text-decoration: underline; color: #ffffff;">NFL@email.nfl.com</a> to your Address Book or Safe List. <br/>

  <br/>

          NFL Enterprises LLC - 345 Park Avenue, New York, NY 10154</span></td>

      </tr>

      <tr>

        <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#2c2c2c; padding-bottom: 20px; padding-top: 20px;">

      </td>

      </tr>

    </table>

   </td>

  </tr>

</table>

</body>

</html>