<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>NFL Game Pass</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  
	<link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
	<script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://vjs.zencdn.net/4.7/video.js"></script>
	<style type="text/css">
    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	margin: 0;
	padding: 0;
	background:#0073B9 ;
	text-align: center;
}
img {
	height: auto;
}
.h1, .h2, .bodycopy, p {
	color: #656464;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	font-weight: normal;
}
.h1 {
	padding: 20px 5px 0 5px;
	font-size: 32px;
	line-height: 48px;
}
.h2 {
	padding: 20px 5px 15px 5px;
	font-size: 22px;
	line-height: 33px;
}
.buttonwrapper {
	padding: 0px 0px 15px 0px;
}

#top {
	background: #000F35;
	height: 100px;
	width: auto;
	padding-top: 35px;
}	
#top img {
	position: relative;
	margin: 0 auto;
}

#video {
	width: 900px;
	height: 507px;
	position: relative;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 40px;
}

#button-wrapper {
	width: 900px;
	height: 52px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 40px;
}

#button-wrapper.not-ready {
	opacity: 0.1;
}

#button-wrapper.not-ready a.button {
	cursor: default;
}

a.button {
	width: 220px;
	height: 52px;
	padding-left: 30px;
	padding-right: 30px;
}
a.button:hover {
	
}

p#support-text {
	color: white;
	font-size: 20px;
	font-weight: 200;
}

p#support-text a, p#support-text a:visited, p#support-text a:active {
	font-weight: 400;
	color: white;
	text-decoration: underline;
}

p#support-text a:hover {
	text-decoration: underline;
}


.vjs-default-skin .vjs-big-play-button::before {
	line-height: 90px;
	text-shadow: none;
	font-size: 40px;
	color: black;
	padding-left: 2px;
	padding-top: 2px;
}

.vjs-default-skin .vjs-big-play-button
{
	top: 325px;
	left: 575px;
	margin: -4em auto auto -6em;
	background: rgba(255, 255, 255, 0.5);
	width: 90px;
	height: 90px;
	border-radius: 90px;
	border: 0px;
	line-height: 90px;
}


    a.button1 {	width: 220px;
	height: 52px;
	padding-left: 30px;
	padding-right: 30px;
}
    </style>
	<meta property="fb:admins" content="100003540748106">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@NFLGamePass">
	<meta name="twitter:creator" content="@NFLGamePass">
	<meta name="twitter:title" content="Check out my touchdown dance from the #NFLDigitalLounge at Wembley Stadium inspired by @NFLGamePass">
	<meta name="twitter:description" content="Check out my touchdown dance from the #NFLDigitalLounge at Wembley Stadium inspired by @NFLGamePass">
	<meta name="twitter:image:src" content="{{media[0].posterurl}}">
	<meta property="twitter:account_id" content="19230601">

	<!-- Facebook -->
	<meta property="og:site_name" content="Check out my touchdown dance courtesy of NFL Game Pass and the #NFLDigitalLounge at Wembley Stadium. ">
	<meta property="og:image" content="{{media[0].posterurl}}">
	<meta property="og:url" content="{{ ogURL }}">
	<meta property="og:title" content="Check out my touchdown dance courtesy of NFL Game Pass and the #NFLDigitalLounge at Wembley Stadium. ">
	<meta property="og:description" content="Check out my touchdown dance courtesy of NFL Game Pass and the #NFLDigitalLounge at Wembley Stadium. ">
	
	
</head>
<body>

  <div id="top">
    <a href="https://gamepass.nfl.com/nflgp/secure/packages?ttv=0"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/NFL_GP_Icons_Affiliate_300x600_0000s_0000_GP-LOGO.png" alt="" width="315" height="66" title="NFL Game pass" border="50"></a>
  </div>

  <div id="video">
      
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="900" height="507" poster="{{media[0].posterurl}}" data-setup="{}">
		<source src="{{media[0].url}}" type='video/mp4'>
		<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
	</video>
      
</div>
  
  	  <div id="button-wrapper">
        <p><a class="button share" href="http://www.facebook.com/sharer.php?u=https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Bitmap%20Copy%203.png" alt="Share your video on Facebook" width="108" height="90" title="Share Your Video on Facebook" border="0" align="middle"></a><a class="button share" href="https://nflgamepass.sngrn.co/a/click/{{ uuid }}?type=web.tweet&url=https://twitter.com/intent/tweet?text=See%20my%20moment%20in%20the%20spotlight%20presenting%20the%20headlines%20on%20Sky%20Sports%20News%20HQ%20https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Bitmap%20Copy%202.png" alt="Share your video on Twitter" width="135" height="105" title="Share Your Video on Twitter" border="0" align="middle"></a><a class="button" href="https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}/0/download"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/Rectangle%204%20%2B%20Triangle%201.png" alt="Download your video to your computer" width="80" height="70" border="0" align="middle"></a></p>
  </div>
  
<p>&nbsp; </p>
<div id="button-wrapper2">
    <p><a class="button share" href="https://gamepass.nfl.com/nflgp/secure/packages"><img src="https://quander-central.s3.amazonaws.com/demoaccount-A32lru/demo-project/templates/551/NFL_GP_Icons_Affiliate_300x600_0001s_0000_device-lockup%20%2B%20NFL_GP_Icons_Affiliate_300x600_0001s_0000s_0002_CTA-BG%20%2B%20NFL_GP_Icons_Affiliate_300x600_0001s_0000s_0001_GET-IT-NOW.png" alt="Get your NFL Game Pass" width="410" height="325" title="Get your NFL Game Pass" border="0"></a></p>
    <p><a class="button share" href="http://www.facebook.com/sharer.php?u=https://nflgamepass.sngrn.co/v/{{ attendee.vanity }}"></a></p>
    <p>&nbsp;</p>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53712964-1', 'auto');
  ga('send', 'pageview');
      
      $('.share').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

        </script>
</body></html>