{% set media = attendee.medias[0] %}
{% set subdomain = attendee.project.subdomain.name %}
{% set companionLink = "https://#{attendee.project.subdomain.name}.qndr.io" %}
{% set unsubsribeLink = "#{companionLink}/unsubscribe/#{attendee.uuid}" %}
{% set viewInBrowserLink = "#{companionLink}/email/#{attendee.vanity}/follow-up" %}
{% set termsLink = "https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sos-westfield/templates/1139/SOS%20Retail%20Competition%20Terms.html" %}

{# Default Variables #}

{% set findOutMoreLink = "" %}
{% set termsAndConditions = "" %}
{% set segment = "1618" %}
{% set iaf = "" %}
{% set iafLink = "" %}

{% set body %}
    <p>Hello {{ attendee.firstname }},</p>
    <p>We hope you enjoyed your big moment in the Monday Night Football Walk Forward line-up, here’s your video to share with your friends and family.</p>
    <p>
        <strong>Get your hands on a football signed by David Beckham</strong><br />
        For your chance to win, share your video on Facebook or Twitter via the link above using <strong>#itcouldhappen</strong>. Entries close August 28th 2016.
        Full competition terms and conditions available <a title="Competition Terms" href="{{ termsLink }}" ><u>here</u></a>.
    </p>
    <p>This Premier League season, anything could happen.</p>
    <p>We hope to see you again soon.</p>
    <p>The Sky Team</p>
{% endset %}

{# Segmentation Rules #}

{% if (attendee.fields.skyTVCustomer is not empty or attendee.fields.skySportsCustomer is not empty) and (attendee.fields.over18 is defined and attendee.fields.over18 is not empty) %}
    {% set segment = "tv" %}
{% elseif (attendee.fields.skyTVCustomer is empty and attendee.fields.skySportsCustomer is empty) and (attendee.fields.over18 is defined and attendee.fields.over18 is not empty) %}
    {% set segment = "nsc" %}
{% else %}
    {% set segment = "1618" %}
{% endif %}

{# Segmentation Default Overrides #}

{% if segment == "nsc" %}

    {% set findOutMoreLink = "http://www.sky.com/shop/tv/sports/" %}

    {% set body %}
        <p>Hello {{ attendee.firstname }},</p>
		<p>We hope you enjoyed your big moment in the Monday Night Football Walk Forward line-up, here’s your video to share with your friends and family.</p>
        <p>
            <strong>Get your hands on a football signed by David Beckham</strong><br />
            For your chance to win, share your video on Facebook or Twitter via the link above using <strong>#itcouldhappen</strong>.
            Entries close August 28th 2016. Full competition terms and conditions available <a title="Competition Terms" href="{{ termsLink }}" ><u>here</u></a>.
        </p>
        <p>Anything could happen this season, and with 126 live Premier League games on Sky Sports, you won’t want to miss it. Plus, with the Free Fibre Forever Offer for new Sky Sports customers, there’s never been a better time to join.</p>
        <p>The Sky Team</p>
    {% endset %}

    {% set termsAndConditions %}
        <p>
            <small>

                <strong>Subject to status. Upfront payment may be required. General:</strong>
                Prices may go up during your contract. Further terms apply. Correct at 29  July 2016. 25GB usage cap. 12 month minimum subscriptions. UK Sky Fibre areas only. Check your broadband speed at sky.com. Set-up costs may apply. £6.95 router delivery charge applies until 16 August 2016.Thereafter, £9.95.
                <strong>Sports Bundle:</strong> £47.50 per month (pm).
                <strong>Free Fibre Forever Offer: </strong> New Sky TV customers with Sky Sports taking new 12 month minimum subscriptions for Sky Fibre, Sky Talk (£0-12 per month (pm)) and Sky Line Rental (£17.40pm) only. You must continue to subscribe to these services to remain eligible for this offer otherwise standard price applies for Sky Fibre (currently £10pm). Not available with other offers.
                <strong>Sky Fibre:</strong> Availability subject to survey. Up to 38Mb download speed. Speeds vary by location. Compatible line required otherwise £20 connection charge may apply.
                <strong>General:</strong>  Sky TV, Sky Fibre and Sky Talk have separate contracts. Price for Sky TV, Sky Sports, Sky Talk or Sky Line Rental may go up during your contract. Prices for DD only. Further terms apply. Correct at 29.07.16
            </small>
        </p>
    {% endset %}

{% elseif segment == "tv" %}

    {% set findOutMoreLink = "http://www.sky.com/shop/tv/sports/#section-6" %}

    {% set body %}

        <p>Hello {{ attendee.firstname }},</p>
		<p>We hope you enjoyed your big moment in the Monday Night Football Walk Forward line-up, here’s your video to share with your friends and family.</p>
        <p>
            <strong>Get your hands on a football signed by David Beckham</strong><br />
            For your chance to win, share your video on Facebook or Twitter via the link above using <strong>#itcouldhappen</strong>.
            Entries close August 28th 2016. Full competition terms and conditions available <a title="Competition Terms" href="{{ termsLink }}" ><u>here</u></a>.
        </p>
        <p>Did you know, Sky Sports customers you can now enjoy goals and highlights direct to their mobile? Never miss a moment of the 2016 Premier League, where anything could happen.</p>
        <p>The Sky Team</p>
			
    {% endset %}

    {% set termsAndConditions %}
        <p>
            <small>
                <strong>Subject to status. Upfront payment may be required. General:</strong> Prices may go up during your contract. Further terms apply. Correct at 29 July 2016.
            </small>
        </p>
    {% endset %}

    {# DAN IAF URL GOES HERE! #}
    {% set iafImage = "" %}
    {% set iafLink = "http://www.sky.com/shop/bundles-offers/introduceafriend/" %}

{% endif %}

{# --- DO NOT TOUCH ANYTHING BELOW THIS LINE! --- #}

<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV - {{ segment }}</title>
    <style type="text/css">
		html,body{
				font-family: Arial, Helvetica, sans-serif;
		}
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>

<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">
<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">

<!-- HEADER AREA -->
<tr>
	<td>
		<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td class="spacer">&nbsp;</td>

				<td class="pad">
					<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sos-westfield/templates/1139/Sports%20Logo.png" alt="Sky" height="35" border="0" style="display:block;" title="Sky"/>
				</td>

				<td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;"><br/>
					<a title="view email in browser" href="{{ viewInBrowserLink }}" target="_blank" style="color:#999999;">View email in browser</a>
				 </td>

				<td class="spacer">
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

			</tr>
		</table>
	</td>
</tr>

<tr><td style="line-height:1px; font-size:0px;" height="20"></td></tr>

<!-- TITLE AREA -->
<tr>
	<td class="pad">
		<h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#C71273;">You’re part of the team!</h2>
	</td>
</tr>

<!-- PHOTO AREA -->
<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="photo" bgcolor="#e3e1eb">
					<a href="{{ companionLink }}" title="Companion" target="_blank">
						<img src="{{ media.posterurl }}" alt="Click to view" width="403" height="227" border="0" style="display:block;" title="Click to view"/>
					</a>
				</td>
				

				<td id="social" class="spacer" valign="middle" align="center" width="40%" bgcolor="#e3e1eb">
					<a href="{{ companionLink }}" title="Download" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/>
					</a>
					
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>
				
					<a href="{{ companionLink }}" title="Share to Facebook" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/>
					</a>
					
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>

					<a href="{{ companionLink }}" title="Share to Twitter" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/>
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>

<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="{{ companionLink }}" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="{{ companionLink }}" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="{{ companionLink }}" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">
        <br />
        {{ body }}
        
        {% if findOutMoreLink is not empty %}
        <p>
            <span align="center" style="display: block; text-align: center">
            <a href="{{ findOutMoreLink }}" title="Find Out More">
                    <img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-find-out-more.png" width="130" height="35" title="Find Out More" border="0" />
                </a>
            </span>
		</p>
        {% endif %}
		</td>
</tr>

<!-- IAF AREA -->

{% if iafImage is not empty and iafLink is not empty %}
    
<tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">

        <a href="{{ iafLink }}">
            <img src="{{ iafImage }}" alt="Introduce a Friend" style="border: none; width: 100%;" />
        </a>

    </td>
</tr>

{% endif %}

<!-- FOOTER AREA -->


    <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;">
            <p>This email was sent to {{ attendee.email }}.</p>
            <p>Please add skylive@quander.io to your address book or safe sender list.</p>
            <p>This email was sent to you by ©Sky UK Ltd 2016. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.</p>
            <p><a title="Terms and conditions" href="{{ termsLink }}" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a title="Privacy Policy" href="http://www.sky.com/help/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy Policy</a> | <a title="Unsubscribe" href="{{ unsubsribeLink }}" target="_blank" style="color:#999999;">Unsubscribe</a></p>
            
            {{ termsAndConditions }}
            
        </td>
    </tr>

    
</table>
</td>
</tr>
</table>

</body>
</html>