<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <!-- Segment: U18 -->
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">More of the Box Sets everyone’s talking about<br/>
                    <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/email/{{ uuid }}&type=email.u18.browserVersion" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
        <img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/strapline-boxsets.gif" alt="Your Sky Box Sets Photo" width="353" height="28" border="0" id="strapline" style="display:block;" title="Your Sky Box Sets Photo"/>     </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}&type=email.u18.clickPhoto" target="_blank"><img src="https://infinite-castle-5966.herokuapp.com/image.php?image={{ media[0].url }}&scene={{#with fields}}{{selectedScene}}{{/with}}&email=true" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}/&type=email.u18.download" target="_blank"><img src="http://quander-boxsets.s3.amazonaws.com/emails/cta-download-image.png" alt="View Photo" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/facebook?type=email.u18.shareFacebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-facebook.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/twitter?type=email.u18.shareTwitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-twitter.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?url=https://skyboxsets.sngrn.co/v/{{ vanity }}&type=email.u18.download" target="_blank"><img src="http://quander-boxsets.s3.amazonaws.com/emails/cta-download-image.png" alt="View Photo" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/facebook?type=email.u18.shareFacebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-facebook.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skyboxsets.sngrn.co/v/{{ vanity }}/0/share/twitter?type=email.u18.shareTwitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/cta-share-twitter.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-boxsets/emails/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"> Hello {{ firstname }},<br />
      <br />
Thanks for taking part in our Sky Box Sets experience today. Here’s your photo to download and share with your friends and family.<br />
    <tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"> This email was sent to {{ email }}<br />
Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
<br />
This email was sent to you by &copy;Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.<br />
<br />
<a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.u18.terms&amp;url=https://quander-boxsets.s3.amazonaws.com/emails/terms.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a href="https://skyboxsets.sngrn.co/a/click/{{ uuid }}?type=email.u18.privacypolicy&amp;url=http://help.sky.com/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skyboxsets.sngrn.co/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
          <br /></td>
</tr>
    </td></tr>
</table>
</td>
</tr>
</table>
<img src="https://skyboxsets.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>