<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Switch to Sky in the Big Broadband Sale</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer">&nbsp;</td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Switch to Sky in the Big Broadband Sale<br />
                <a href="https://yourskyphoto.qndr.io/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
         <img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/FKP-strapline.jpg" alt="Chop Chop - Take a look at your Kung Fu moves " width="400" border="0" id="strapline" style="display:block;" title="Chop Chop - Take a look at your Kung Fu moves "/>
    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Email view Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Photo"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Email download button" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" title="Email share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Email share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><p><span style="color:#8f8e8e;"> Hello {{ firstname }},</span><br />
      <br />
      Thanks for joining in the panda-monium; you mastered the moves of a Kung Fu Panda.</p>
      <p>Would you like a Spaced360 portable speaker? For a chance to win, share your photo online now. <small> Full prize draw terms and conditions available </small><a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/kfp%20Prize%20DrawTandCsWestfieldTour.html" title="Competition terms and conditions" style="color:#999999;"><small>here</small></a>. <br />
        <br />
        Did you know? As well as Sky TV, you can now enjoy the benefits of  12 months free Sky Broadband Unlimited on a 12 month contract.</p>
      <p><br />
        
        <span align="center" style="display: block; text-align: center">
          <a href="http://www.sky.com/shop/broadband-talk" title="Find Out More"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" /></a></span></p>

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://www.sky.com/watch" title="Best Friends Whenever content panel"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/Best%20Friends2.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Best Friends Whenever " border="0"/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://www.sky.com/watch/channel/sky-1" title="A League Of Their Own content panel"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/League%20of%20their%20Own2.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="A League Of Their Own: Series 10 " border="0"/></a><a href="https://yourskyphoto.qndr.io/a/click/{{ uuid }}?type=email.tv.panelPremierLeague&url=http://www1.skysports.com/football/competitions/premier-league" title="Sky Sports"></a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">The live-action comedy follows best friends Shelby and Cyd who, when their aspiring scientist friend Barry’s invention goes awry, gain the power to leap forward and backward in time whenever they want – and sometimes when they don’t. <br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">James, Jamie, Freddie and Jack are back Sky1’s most loved entertainment show returns with bigger laughs, stunts and guests than ever before.<br /></td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="https://www.sky.com/watch/channel/sky-1" title="Bring the noise content panel">
                            <img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/League%20of%20their%20Own2.jpg" alt="" width="570" height="285" class="scale" style="display:block;" title="A League Of Their Own: Series 10 " border="0"/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> James, Jamie, Freddie and Jack are back Sky1’s most loved entertainment show returns with bigger laughs, stunts and guests than ever before. </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="7"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">
        <a href="https://secure.sky.com/introduce-a-friend?DCMP=EMC-Events-TV-Xmas-IAF"><img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/839_02031_IAF150_974x334_SHOP_HERO_004%20%281%29.jpg" alt="" width="600" class="scale" title="Introduce A Friend" border="0"/></a>
    </td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="6" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"><p>This email was sent to {{ email }}.<br />
      Please add yourskyphoto@quander.io to your address book or safe sender list. <br />
      This email was sent to you by © Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. <br />
  <br />
  <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/kung-fu-panda-westfield/templates/682/kfpterms.html" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> | <a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
    Policy</a> | <a href="https://yourskyphoto.qndr.io/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a></p>
      <p>© Disney  © 2016 DWA LLC. All Rights Reserved<br />
        <strong><br />
        </strong></p>
      <p><strong>Subject to status. Upfront payment may be required. New Sky Broadband customers only. Sky Network areas only. Set-up costs may apply. £6.95 router delivery charge applies.
Sky Broadband Unlimited offer: </strong> Available to new Sky Broadband and Talk customers taking new 12 month min subscription for Sky Broadband Unlimited, Sky Talk (£0-10 per month (pm)) and Sky Line Rental (£17.40 pm). After 12 months, standard price applies, currently £10 pm plus Sky Talk and Sky Line Rental. <strong> Sky Broadband general: </strong> See sky.com for more details and our Usage Policies. External factors such as internet congestion and home wiring can affect speed.<strong> £150 Prepaid MasterCard® can be used wherever MasterCard® is accepted. Further terms apply. Offer for Existing Sky TV Customers Only: </strong> Your friend must live at a different UK address to you. We will send you your £150 Prepaid Mastercard® reward once we receive your friend's first subscription payment. Existing customer must remain an active customer to qualify. Offer not for Sky group employees or commercial use. Not available with any other offers.<strong> General: </strong> Separate contracts apply to Sky Broadband and Sky Talk. Prices may go up during your contract. Non-standard set-up may cost extra. You must get any consents required (e.g. landlord’s). Prices for DD payments only. Continuous debit/credit card mandate costs 50p pm. UK residential customers only. This offer isn’t available with any other offers. Further terms apply. Correct at 11 December 2015.
 </p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>