<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">It was great to meet you today<br />
                <a href="https://sngrn.co/a/click/{{ uuid }}?url=https://sngrn.co/email/{{ uuid }}&type=email.nsc.browserVersion" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<!---
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- TITLE AREA -->
<!---
<tr>
    <td class="pad">&nbsp;</td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td height="197">
        <table width="100%" height="180" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="73%" height="180" bgcolor="#fff" class="photo"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/temp-image.jpg" alt="Nickelodeon Branding" width="443" height="154" style="display:block;" title="Nickelodeon Branding" border="0" align="left" /></td>
                <td class="spacer" bgcolor="#fff" valign="middle" align="center" width="25%">
                  <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.shareFacebook&url=http://www.facebook.com" target="_blank"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.shareTwitter&url=http://www.twitter.com" target="_blank"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        
                        <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.shareFacebook&url=http://www.facebook.com" target="_blank"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.shareTwitter&url=http://www.twitter.com" target="_blank"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]--><!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><p>Hello {{ firstname }},<br />
      <br />
      It was great to meet you today, thanks for coming over and for entering our free prize draw. We’ll be announcing the winner in July.<br />
  <br />
      In the meantime, why not fill your world with all your favourite characters from Nick Jr., plus a whole host of channels and entertainment for all the family to enjoy?
      <br /><br />
        <span style="display: block; text-align: center"><a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.findOutMoreOne&url=https://buy.sky.com/hd-upgrades/campaign/tv-box-sets?DCMP=knc-Google-ec-UPG-OD-sky-box-sets"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/cta-find-out-more.png" width="130" height="35" border="0" /></a></span><br />
         Great things come as standard with Sky TV, including:
      <table border="0" cellspacing="0" cellpadding="0"><tbody>
	             <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;"> Access to over 300 <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.nsc.skyBoxSets&url=https://buy.sky.com/hd-upgrades/campaign/tv-box-sets?DCMP=knc-Google-ec-UPG-OD-sky-box-sets" style="color:#999999;"><strong>Sky Box Sets</strong></a> on demand* </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;"> Great entertainment on the move with <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.nsc.skyGo&url=http://www.sky.com/shop/tv/sky-go/?DCMP=knc-Google-ec-SKY-GO-sky-go" style="color:#999999;"><strong>Sky Go</strong></a></td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•               &nbsp; </td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">A wide selection of <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.nsc.catchUpTV&url=http://www.sky.com/products/ways-to-watch/catch-up-tv/" style="color:#999999;"><strong>Catch Up TV</strong></a> at no extra monthly cost</td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
              • &nbsp; </td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
Pause, rewind and record your favourite shows with <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.nsc.skyPlus&url=http://www.sky.com/shop/tv/sky-plus/?DCMP=blb-skycom:nc_sky_plus" style="color:#999999;"><strong>Sky+</strong></a></td>
        </tr>
</tbody></table>
      <br />
	<small>* Family Bundle or another Sky HD subscription required for TV Box Sets.</small> </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.pawPatrol&url=http://www.sky.com/tv/"><img style="display:block;" class="scale" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/paw-patrol-panel-v4.jpg" width="298" height="148" border="0" alt=""/></a>
                </td>
                <td class="spacer"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.makeItPop&url=http://www.sky.com/tv/"><img style="display:block;" class="scale" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/Make-it-Pop-panel-image-V3.jpg" width="298" height="148" border="0" alt=""/>
                    </a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">A team of pups led by the energetic Ryder are always at the ready when it comes to helping out around the bustling town of Adventure Bay. They have all the tools, gadgets and gumption they need to help out their community. <br /></td>
                <td class="spacer"><img src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> What do an aspiring pop diva, a fashionista and a book worm have in common? Music! Can they achieve pop stardom at school? Get ready for fun, drama, and lots of laughs. </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.makeItPop&url=http://www.sky.com/tv/"><img style="display:block;" class="scale" src="http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/Make-it-Pop-panel-image-V3.jpg" width="298" height="148" border="0" alt=""/></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                        What do an aspiring pop diva, a fashionista and a book worm have in common? Music! Can they achieve pop stardom at school? Get ready for fun, drama, and lots of laughs.
                    </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">&nbsp;</td>
</tr>

<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"> This email was sent to {{ email }}<br />
Please add noreply@sky.com to your address book or safe sender list. <br />
<br />
This email was sent to you by &copy;Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.<br />
<br />
<a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.terms&url=http://quander-central.s3.amazonaws.com/demoaccount-hdfZh6/nick-jnr/assets/terms.html" target="_blank" style="color:#999999;">Prize Draw Terms and Conditions</a> | <a href="https://sngrn.co/a/click/{{ uuid }}?type=email.tv.privacypolicy&url=http://help.sky.com/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://sngrn.co/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
            <br />
Nickelodeon &amp; Nick Jr.: &copy; 2015 Viacom International Media Networks. All rights reserved. On Demand: Downloading content requires compatible black Sky+ box, broadband connection (minimum recommended speed 2 Mbps). Sky Box Sets: Selection of shows/series available &amp; varies each month. Sky Store costs extra. Downloadable HD content takes longer to start viewing. Sky Movies Pack or Sky Sports Pack required for Sky Movies or Sky Sports. Family Bundle or another Sky HD subscription required for TV Box Sets. Sky Go: UK / Ireland only. Streamed via broadband/3G/4G (charges may apply). Some live TV programmes will be unavailable (go to - go.sky.com ). You’ll need the Family Bundle or another Sky HD subscription for TV Box Sets. Sky TV packages £20.00-£75.75 pm. Non-Sky TV Customers: Subscriptions £15-£40 pm. Monthly subscriptions renew automatically until you unsubscribe. General: Prices may go up during your contract. Non-standard set-up may cost extra. You must get any consents required (e.g. landlord’s). Prices for DD payments only. Continuous debit/credit card mandate costs 50p pm. UK , Channel Islands and Isle of Man residential customers only. Further terms apply. Calls to Sky cost 15.97p plus 5.1ppm for BT customers. Other providers’ charges may vary. Correct at 20/05/2015. <br /></td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>