<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Your Sky Q Fluid Portrait</title>
<style type="text/css">
body{
	background-color: #EDECEC;
}
body, tr, h1, h2, h3, p, div{
	margin: 0;
	padding: 0;
}
h1, p{
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	color: #7E8083;
}
.small{
	font-size: 13px;
}
a{
	color: #7E8083;
	text-decoration: none;
}
a img{
	border: none !important;
}
.btn_cta{
	height: 61px;
	display: block;
	text-align: center;
}
}
strong{
	font-weight: bold;
}
@media screen and (max-width: 600px) {
	table[id="wrapper"]{
			width:100% !important;
	}
	img[id="portrait"]{
		max-width: 365px !important;
		width: 50% !important;
	}
	img[id="btn_share"]{
		width: 100px !important;
		height: 25px !important;
	}
	.body_sep{
		margin-top: -15px !important;
	}
	table[class="tbl_icon"]{
		width: 100% !important;
		padding: 5px 0 25px !important;
	}
	table[class="tbl_icon"] td{
		width: 100% !important;
	}
	table[class="tbl_icon"] p{
		width: 80% !important;
		padding: 0 10% !important;
		margin: 2px auto 0 !important;
	}
	td[id="td_sep"]{
		padding-top: 0 !important;
	}
}
	table[class="tbl_icon"]{
		width: 49%;
		padding: 0;
	}
</style>
<!--[if gte mso 9]>
<style type="text/css">
#wrapper{
	width: 600px !important;
}
img[class="fluid"]{
	max-width: 365px !important;
	width: 365px !important;
	height: auto !important;
}
img[id="portrait"]{
	max-width: 278px !important;
	width: 278px !important;
	height: auto !important;
}
</style>
<![endif]-->
</head>
<body style="background-color: #EDECEC; margin: 0; padding: 0;" bgcolor="#EDECEC">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#edecec" style="background-color: #edecec;">
	<tr style="margin: 0; padding: 0;">
		<td>
			<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" id="wrapper">
				<tr style="margin: 0; padding: 0;">
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="width: 100%; background-color: #FFFFFF;">
							<tr style="margin: 0; padding: 0;">
								<td rowspan="4" width="2" bgcolor="#A72879" valign="top" style="width: 2px; background-color: #A72879; vertical-align: top;"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/side-border-img-left.gif" width="2" height="1180" alt="Left border"></td>
								<td colspan="2" align="center" valign="top" style="vertical-align: top; padding: 20px;">
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0; padding: 0;" align="center">Fluid Viewing™ has arrived</p>
									<p class="small" style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 13px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0 0 30px; padding: 0;" align="center"><a href="https://yourskyphoto.qndr.io/email/{{ vanity }}" title="View in broswer" target="_blank" style="color: #7E8083; text-decoration: underline;">View in browser</a></p>
									<img src="https://quander-central.s3.amazonaws.com/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Sky-Q-logo.jpg" width="150" height="146" alt="Sky Q logo">
									<div style="margin: 30px 0 35px; padding: 0;">
										<img src="https://quander-central.s3.amazonaws.com/sky-q-westfield-and-tour-ubTyot/sky-q-housing-conference/templates/1102/Give%20Your%20Residents%20.png" width="365" height="" vspace="30" class="fluid" style="max-width: 365px; width: 100%; height: auto !important; margin-top: -20px; margin-bottom: -20px; display: block;" alt="Introducing Fluid Viewing">
									</div> <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Email view Your Photo" target="_blank" style="color: #7E8083; text-decoration: none;">
									<img src="{{ media[0].url }}" width="278" style="width: 45%; height: auto !important; border: none !important;" alt="Your Sky Q Fluid Portrait" id="portrait"></a>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin: 20px 0 30px; padding: 0;" align="center"><a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" style="color: #7E8083; text-decoration: none;"><img src="https://quander-central.s3.amazonaws.com/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/share-icons.gif" width="162" height="41" alt="Share your Fluid Portrait" style="border: none;" id="btn_share"></a></p>
									<div style="margin: 30px 0 10px; padding: 0;" class="body_sep"> </div>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin-top: 10px; margin-right: 10px; margin-left: 10px; margin-bottom: 20px; padding: 0;" align="center">Thank you for visiting our Sky Q experience today. We hope you enjoyed creating your Fluid Portrait. Our new wireless home entertainment system, Sky Q with Fluid Viewing has arrived. To meet the demand from your residents, now's the time to get your buildings Sky Q ready. </p>
                                    
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin: 5px 0 20px; padding: 0;" align="center"><a href="https://communaltv.sky.com/contact-us/" target="_blank" style="color: #7E8083; text-decoration: none; height: 61px; display: block; text-align: center;" class="btn_cta"><img src="https://quander-central.s3.amazonaws.com/sky-q-westfield-and-tour-ubTyot/sky-q-housing-conference/templates/1102/cta%5B1%5D.jpg" width="163" height="53" alt="Enquire today" style="border: none;"></a></p>
                                    
                                    <p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin-top: -25px; margin-right: -0px; margin-left: -0px; margin-bottom: -0px; padding: 0;" align="center">Great news, when creating your Fluid Portrait you were also automatically entered into the draw to win a Samsung Galaxy Tab E. Good luck. Full competition terms and conditions available <a  href="https://quander-central.s3.amazonaws.com/sky-q-westfield-and-tour-ubTyot/sky-q-housing-conference/templates/1105/Sky_Q__Comp_%20housing_conference_terms.html" ><u><small>here</small></u></a>.</p>
									<div style="margin: 20px 0 10px; padding: 0;" class="body_sep">
										<img src="https://quander-central.s3.amazonaws.com/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Set-your-TV-free.gif" width="365" height="" class="fluid" style="max-width: 365px; width: 100%; height: auto !important;" alt="Set your TV free">
									</div>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin: 0; padding: 0;" align="center">The power to pause live TV was just the start. Now, you’re invited to discover our most advanced TV experience.</p>
									<div style="margin: 20px 0 10px; padding: 0;">
										<img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/SKY_Q_SILVER_USER_INTERFACE_SPLASH.jpg" width="556" height="" class="fluid" style="max-width: 556px; width: 100%; height: auto !important;" alt="Sky Q user interface">
									</div>
									<div style="margin: 0px 0 20px; padding: 0;">
										<img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/This-is-Fluid-Viewing.gif" width="365" height="" class="fluid" style="max-width: 365px; width: 100%; height: auto !important;" alt="This is Fluid Viewing">
									</div>
									<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="width: 100%; background-color: #FFFFFF;" id="table_icon">
									<tr style="margin: 0; padding: 0;" class="tr_icon">
										<td width="100%" valign="top" style="width: 100%; vertical-align: top;">
											<table width="49%" border="0" cellspacing="0" cellpadding="0" align="left" style="width:49%;" class="tbl_icon">
												<tr>
													<td>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0; padding: 0;" align="center"><a href="http://www.sky.com/skyq/" style="color: #7E8083; text-decoration: none;"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Around-the-home.gif" width="193" height="" alt="Around the home" style="max-width: 193px; width: 100%; height: auto !important; border: none;"></a></p>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin-top:2px; margin-right: 3%; margin-left:3%; margin-bottom:0; padding: 0;" align="center">Now you can watch your recordings around your home</p>
													</td>
												</tr>
											</table>
											<table width="49%" border="0" cellspacing="0" cellpadding="0" align="right" style="width:49%;" class="tbl_icon">
												<tr>
													<td>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0; padding: 0;" align="center"><a href="http://www.sky.com/skyq/" style="color: #7E8083; text-decoration: none;"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Pause-and-carry-on.gif" width="193" height="" alt="Around the home" style="max-width: 193px; width: 100%; height: auto !important; border: none;"></a></p>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin-top:2px; margin-right: 3%; margin-left:3%; margin-bottom:0; padding: 0;" align="center">Pause in one room and carry on in another</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr style="margin: 0; padding: 0;" class="tr_icon">
										<td width="100%" valign="top" style="width: 100%; padding-top: 30px; vertical-align: top;" id="td_sep">
											<table width="49%" border="0" cellspacing="0" cellpadding="0" align="left" style="width:49%;" class="tbl_icon">
												<tr>
													<td>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0; padding: 0;" align="center"><a href="http://www.sky.com/skyq/" style="color: #7E8083; text-decoration: none;"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/take-recordings-with-you.gif" width="193" height="" alt="Around the home" style="max-width: 193px; width: 100%; height: auto !important; border: none;"></a></p>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin-top:2px; margin-right: 3%; margin-left:3%; margin-bottom:0; padding: 0;" align="center">Sync recordings onto your tablet to watch wherever you go</p>
													</td>
												</tr>
											</table>
											<table width="49%" border="0" cellspacing="0" cellpadding="0" align="right" style="width:49%;" class="tbl_icon">
												<tr>
													<td>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin: 0; padding: 0;" align="center"><a href="http://www.sky.com/skyq/" style="color: #7E8083; text-decoration: none;"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Skys-strongest-WiFi.gif" width="193" height="" alt="Around the home" style="max-width: 193px; width: 100%; height: auto !important; border: none;"></a></p>
														<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; text-align: center; color: #7E8083; margin-top:2px; margin-right: 3%; margin-left:3%; margin-bottom:0; padding: 0;" align="center">Only Sky Broadband turns Sky Q boxes into Wi-Fi hotspots</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 15px; line-height: 18px; font-weight: normal; color: #7E8083; text-align: center; margin: 15px 0; padding: 0;" align="center"><a href="http://www.sky.com/skyq/" target="_blank" style="color: #7E8083; text-decoration: none; height: 61px; display: block; text-align: center;" class="btn_cta"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Sky-Fluid-Portrait-CTA-button.gif" width="180" height="61" alt="Find out more" style="border: none;"></a></p>
									<div style="margin: 0 0 40px; padding: 0;">
										<img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Sky-Q-email-2-rule.gif" width="556" height="1" class="fluid" style="max-width: 556px; width: 100%; height: 1px !important;" alt="Seperator">
									</div>
									<img src="https://s3-eu-west-1.amazonaws.com/quander-central/sky-q-tour-ubTyot/sky-q-tour-2-south-clone/templates/780/Sky-logo.gif" width="105" height="66" alt="Sky logo">
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 11px; line-height: 15px; font-weight: normal; color: #7E8083; text-align: center; margin: 20px 0 0; padding: 0;" align="center">&copy; 2016 Sky UK | <a href="https://quander-central.s3.amazonaws.com/sky-q-westfield-and-tour-ubTyot/sky-q-dixons/templates/989/Sky_Q_terms.html" style="color: #7E8083; text-decoration: none;">Terms &amp; conditions</a>  |  <a href="https://yourskyphoto.qndr.io/unsubscribe/{{ uuid }}" style="color: #7E8083; text-decoration: none;">Unsubscribe from Sky </a>  |  <a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" style="color: #7E8083; text-decoration: none;">Q Privacy Policy</a></p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 11px; line-height: 15px; font-weight: normal; color: #7E8083; text-align: center; margin: 5px 0 0; padding: 0;" align="center">This email was sent to {{ email }}. <br>Please add noreply@yourskyphoto.com to your address book or safe sender list.</p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 11px; line-height: 15px; font-weight: normal; color: #7E8083; text-align: center; margin: 5px 0 0; padding: 0;" align="center">Jurassic World – &copy; 2015 NBCUniversal All Rights Reserved. Avengers: Age Of Ultron – &copy; Marvel 2015. All Rights Reserved. Game of Thrones – &copy; 2015 Home Box Office, Inc. All rights reserved. HBO&reg; and all related programmes are the property of Home Box Office, Inc. Flash and all related characters and elements are trademarks of and &copy; 2016 DC Comics. &copy; 2016 Warner Bros Entertainment Inc. All rights reserved.</p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 11px; line-height: 15px; font-weight: normal; color: #7E8083; text-align: center; margin: 5px 0 0; padding: 0;" align="center">Requires Sky Q box, subscription, app and compatible tablet (sky.com/skyqdevices) or Sky Q Mini connected to home broadband. Sky Q Silver box and subscription and Sky Q Mini required to watch on another TV screen.  Red Button and BBC on demand content unavailable via Sky Q App. Save selected recordings from last 90 days to compatible tablet connected to home broadband to watch offline. Viewing limits apply.</p>
									<p style="font-family: Arial,Helvetica Neue,Helvetica,sans-serif; font-size: 11px; line-height: 15px; font-weight: normal; color: #7E8083; text-align: center; margin: 5px 0 0; padding: 0;" align="center">This email was sent to you by &copy;Sky UK Ltd 2016. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5Q</p>
								</td>
								<td rowspan="4" width="2" bgcolor="#064497" valign="top" style="width: 2px; background-color: #064497; vertical-align: top;"><img src="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/sky-q-tour-2-south/templates/724/side-border-img-right.gif" width="2" height="1180" alt="Right border"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>