<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">


<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>
                
                 <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Home of the Premier League<br/>
                    <a href="https://skysportschallenges.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
         <img src="http://www.wassermanexperience.com/wp-content/uploads/2015/08/strapline-skysports-2.png" alt="Your Moment In The Spotlight" height="28" width="409" border="0" id="strapline" style="display:block;" title="Your Moment In The Spotlight"/>
    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}" target="_blank"><img src="http://www.wassermanexperience.com/wp-content/uploads/2015/08/Thumbnail-for-emailer.jpg" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#002BA2" valign="middle" align="center" width="40%">
                    
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="10" border="0" width="100%">
                <tr>
                    <td bgcolor="#002BA2" valign="middle" align="center">
                     <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="150" height="5" border="0" alt=""/>
                  <a href="https://skysportschallenges.sngrn.co/v/{{ vanity }}/0/share/twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"> <p>Hello {{ firstname }},<br />
      <br />
      We hope you enjoyed putting your skills to the test at the Sky Sports Football Challenge, here's your action replay to share with your friends and family.<br /><br />With Sky Sports, you can watch 116 live games from the Barclays Premier League and live action from the Sky Bet Football League and Capital One Cup. Plus watch exclusive live coverage of the Ashes, every Formula 1&reg; race, the Masters and many more of the biggest events in sport. 
      <p>
        
        <span align="center" style="display: block; text-align: center">
          <a href="http://www.sky.com/shop/tv/sports/?DCMP=EMC-Events-NSC-SkySports-FindOutMore"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/cta-find-out-more.png" width="130" height="35" title="Find Out More" border="0" /></a></span></p></td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.skysports.com/football/?DCMP=EMC-Events-NSC-SkySports-BPL"><img style="display:block;" class="scale" src="http://www.wassermanexperience.com/wp-content/uploads/2015/08/BPL-flipped.png" width="298" height="148" border="0" alt="" title="Piku Panel Image" /></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="http://www.skysports.com/f1/?DCMP=EMC-Events-NSC-SkySports-F1"><img style="display:block;" class="scale" src="http://www.wassermanexperience.com/wp-content/uploads/2015/08/F1-new.jpg" width="298" height="148" border="0" alt="" /></a>
                    </td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">With 116 games exclusively live on Sky Sports this season, Sky Sports is your home of the Premier League.<br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-mela/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">Every practice, qualifying and race of the 2015 season live on Sky Sports including exclusively live coverage of the Italy, Singapore, USA and Mexico Grand Prix.</td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>
<!-- MOBILE SECOND PANEL -->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.skysports.com/f1/?DCMP=EMC-Events-NSC-SkySports-F1"><img style="display:block;" class="scale" src="http://www.wassermanexperience.com/wp-content/uploads/2015/08/F1-new.jpg" width="298" height="148" border="0" alt="" /></a>
                    </td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td></td>
                <td bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> Every practice, qualifying and race of the 2015 season live on Sky Sports including exclusively live coverage of the Italy, Singapore, USA and Mexico Grand Prix.</td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td></td>
                <td bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="5"></td>
</tr>
<!-- IAF AREA -->


<!-- FOOTER AREA -->
<tr>
    <td height="10" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;"> <p>This email was sent to {{ email }}.<br />
      Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
  <br />
      This email was sent to you by &copy;Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. 
  <br />
  <br />
  <a href="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-ylGBtv/sky-sports-bullet-time/templates/447/termsskybullettime.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy
    Policy</a> | <a href="https://skymela.sngrn.co/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
      
      The F1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing BV, a Formula One Group Company. All rights reserved.<strong> General:</strong>  Prices may go up during your contract. Further terms apply. Correct at 15 July 2015. <br />
        <br />
      </p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>