<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
		html,body{
				font-family: Arial, Helvetica, sans-serif;
		}
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>

<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">
<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">

<!-- HEADER AREA -->
<tr>
	<td>
		<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td class="spacer">
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

				<td class="pad">
					<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/>
				</td>

				<td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;"><br/>
					<a href="https://yourskyphoto.qndr.io/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a>
				 </td>

				<td class="spacer">
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

			</tr>
		</table>
	</td>
</tr>

<tr><td style="line-height:1px; font-size:0px;" height="20"></td></tr>

<!-- TITLE AREA -->
<tr>
	<td class="pad">
		<h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#C71273;">You’ve taken the throne, now show the world
</h2>
	</td>
</tr>



<!-- PHOTO AREA -->
<tr>
	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="photo" bgcolor="#e3e1eb">
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="{{ media[0].posterurl }}" alt="Click to view" width="403" height="227" border="0" style="display:block;" title="Click to view"/>
					</a>
				</td>
				

				<td id="social" class="spacer" valign="middle" align="center" width="40%" bgcolor="#e3e1eb">
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/>
					</a>
					
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/>
					</a>
					
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="150" height="5" border="0" alt=""/>
					
					<a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank">
						<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/>
					</a>
				</td>
			</tr>
		</table>
	</td>
</tr>

<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.qndr.io/v/{{ vanity }}" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">
		<p>Hello {{ firstname }},
			<br />
			<br />
			You’ve conquered the Seven Kingdoms, now share your moment on the throne with your friends and family.

			<br />
			<br />
			Look out for the new season of Game of Thrones launching 25 April, exclusive to Sky Atlantic. In the meantime, you can catch up on Seasons 1-5 Box Sets, available now with the Family Bundle.
		</p>
		<p>
			<br />
			<span align="center" style="display: block; text-align: center">
				<a href="http://www.sky.com/shop/offers/family/tablet ">
					<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-find-out-more.png" width="130" height="35" title="Find Out More" border="0" />
				</a>
			</span>
		</p>
		</td>
</tr>
	<tr>
		<td style="line-height:1px; font-size:0px;" height="20"></td>
	</tr>
		
		
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            
			<tr>
				<td>
					<a href="https://www.sky.com/watch/channel/sky-atlantic/game-of-thrones ">
						<img style="display:block;" class="scale" src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/840/GOT-Panel.jpg" width="296" height="148" border="0" alt="" title="Bella and the Bulldogs" />
					</a>
				</td>

				<td class="spacer">
					<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="4" height="5" border="0" alt=""/>
				</td>
				
				<td class="spacer">
					<a href="https://www.sky.com/watch/channel/sky-1 ">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/840/Harlen-Panel-2.jpg" alt="Limitless" width="298" height="148" class="scale" style="display:block;" title="Limitless" border="0" />
					</a>
				</td>
			</tr>

			<tr>
				<td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td class="spacer"></td>
				<td class="spacer" bgcolor="#E3E1EB"></td>
			</tr>

			<tr>
				<td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
				
			
					The biggest show in the world is back, exclusively on Sky Atlantic. This original series is based on George R.R. Martin’s best-selling ‘A Song of Ice and Fire’ series and features Kings and Queens, knights and renegades, liars, lords and honest men all playing in the ‘Game of Thrones’. 

				</td>
				
				<td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="4" height="5" border="0" alt=""/></td>
				
				<td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
					
					Harlan Coben’s The Five follows a group of childhood friends who encounter a terrible incident where one of the groups younger brothers goes missing. 20 years later the group are re-united and forced to revisit the past when the missing boy’s DNA turns up at the scene of a murder.

				</td>
			</tr>

            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>

        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">

	<td>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<a href="https://www.sky.com/watch/channel/sky-1 ">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/840/Harlen-Panel-2.jpg" alt="Limitless" width="894" height="444" class="scale" style="display:block;" title="Limtless" border="0" />
					</a>
				</td>
			</tr>

			<tr>
				<td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td></td>
				<td bgcolor="#E3E1EB"></td>
			</tr>

			<tr>
				<td align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> 
			Harlan Coben’s The Five follows a group of childhood friends who encounter a terrible incident where one of the groups younger brothers goes missing. 20 years later the group are re-united and forced to revisit the past when the missing boy’s DNA turns up at the scene of a murder.

				</td>
			</tr>

			<tr>
				<td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
				<td></td>
				<td bgcolor="#E3E1EB"></td>
			</tr>

		</table>
	</td>
</tr>
<!--<![endif]-->

<tr>
	<td style="line-height:1px; font-size:0px;" height="5"></td>
</tr>
	
	
<!-- IAF AREA -->
<tr>
	<td class="pad">
		<a href="https://secure.sky.com/introduce-a-friend?DCMP=EMC-WK_37_introduceafriend_EC_125_grabber_Retail ">
			<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/840/839_02054_IAF_150_HERO_DESKTOP_974X334_002.jpg" alt="" width="600" class="scale" title="Introduce A Friend" border="0"/>
		</a>
	</td>
</tr>

<!-- FOOTER AREA -->
<tr>
	<td height="10" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
	
<tr>
	<td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;">
		<p>This email was sent to {{ email }}.
			<br />
			Please add noreply@yourskyphoto.co.uk to your address book or safe sender list.
			<br />
			<br />
			This email was sent to you by ©Sky UK Ltd 2016. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. 
			<br />
			<br />
			<a href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/843/GOTterms.html" target="_blank" style="color:#999999;">Terms and Conditions</a> | 
			<a href="http://www.sky.com/help/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy Policy</a> | 
			<a href="https://yourskyphoto.qndr.io/unsubscribe/{{ uuid }}" target="_blank" style="color:#999999;">Unsubscribe</a> <br />
			<br />
			Game of Thrones® ©2016 Home Box Office, Inc. All rights reserved. HBO® and all related programs are the property of Home Box Office, Inc.
			<br />
			<br />
			<small>
				<strong> Subject to status. Upfront payment may be required. Introduce a friend: </strong> 
				  £150 Prepaid MasterCard® can be used wherever MasterCard® is accepted, except for gambling, cash withdrawals, currency, cashback or at petrol stations. Unused card values will expire 12 months after the cards are printed. Further terms apply. Offer for Existing Sky TV Customers Only: Your friend must live at a different UK address to you. We will send you your £150 Prepaid Mastercard® reward once we receive your friend's first subscription payment. Existing customer must remain an active customer to qualify. Offer not for Sky group employees or commercial use. Not available with any other offers.
				<strong>General:</strong> Prices may go up during your contract. Further terms apply. Correct at 19 January 2016.

			</small>
		</p>
	</td>
</tr>

</table>
</td>
</tr>
</table>

</body>
</html>