<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">The sports everyone is talking about this spring<br/>
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.viewBrowser&url=https://skysportsnewshq.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<!--
<tr>
    <td class="pad">
        <img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/strapline-cricket.gif" alt="Sky's biggest year of cricket" width="472" height="28" border="0" id="strapline" style="display:block;" title="Sky's biggest year of cricket"/>    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
-->
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.viewYourPhoto&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}" title="View Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Video"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.download&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/share/facebook" target="_blank" title="Share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/share/twitter" title="Share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.download&url=https://skysportsnewshq.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/share/facebook" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://skysportsnewshq.sngrn.co/v/{{ vanity }}/share/twitter" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><span style="color:#8f8e8e;"> Hello {{ firstname }},</span><br/>
      <br/>
      Great to see you at the Sky Sports News HQ experience today at Westfield London, you really handled the pressure, so why not share your moment in the spotlight with friends and family.
      <br/><br/>
      With Sky TV and Sky Sports, you have a wealth of sports available to watch at your fingertips. This June, Sky Sports will show season finales of the <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.2015USOpen&url=http://www1.skysports.com/golf/" title="2015 US Open"><strong>2015 US Open</strong></a>, <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.internationalCricket&url=http://www1.skysports.com/cricket/ashes" title="International Cricket"><strong>International Cricket</strong></a>, <a style="color:#999999;" href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.formula1&url=http://www1.skysports.com/f1/" title="Formula 1"><strong>Formula 1</strong></a> and much more.
         <br/><br />
    <span align="center" style="display: block; text-align: center">
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.findOutMoreShop&url=http://www.sky.com/shop" title="Find Out More - Sky Shop"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" alt=""/></a></span>
          <br/><br/>
        By adding Sky Sports to your entertainment package you can enjoy:
        <br /><br />
      <table border="0" cellspacing="0" cellpadding="0"><tbody>
	             <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Access to a wealth of Sports coverage with <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.skySports&url=http://www.skysports.com/" title="Sky Sports" style="color:#999999;"><strong>Sky Sports</strong></a>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Watch all seven Sky Sports channels including Sky Sports F1® and Sky Sports News on the move with <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.skyGo&url=http://www.sky.com/shop/tv/sky-go/" title="Sky Go" style="color:#999999;"><strong>Sky Go</strong></a>
            </td>
        </tr>
        <tr>
            <td valign="top" align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">•&nbsp;&nbsp;&nbsp;</td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; line-height:16px;">
                Get even closer to the action on all seven HD sports channels with the 
 <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.hdPack&url=www.sky.com/shop/tv/sky-plus/sky-plus-r8?s_tnt=61261:1:0
" title="HD Pack" style="color:#999999;"><strong>HD pack</strong></a>
            </td>
        </tr>
        
        </tbody></table>
        <br /><br />
    <span align="center" style="display: block; text-align: center">
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.findOutMoreSkySports&url=http://www.skysports.com/" title="Find Out More - Sky Sports"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" alt=""/></a></span>

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.panelAshes&url=http://www1.skysports.com/cricket/ashes" title="Panel Ashes"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-ashes.jpg" width="298" height="148" border="0" alt=""/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.panelPremierLeague&url=http://www1.skysports.com/football/competitions/premier-league" title="Panel Premier League"><img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-us-open.jpg" width="298" height="148" border="0" alt=""/>
                    </a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                    Watch every ball of every 2015 Investec Ashes test between England and Australia, live only on Sky Sports.
                    <br/><br/>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                   Watch all four days of the US Open live only on Sky Sports.
                </td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="http://www1.skysports.com/football/competitions/premier-league" title="Panel Premier League">
                            <img style="display:block;" class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/panel-us-open.jpg" width="600" height="300" border="0" alt=""/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">
                        Watch all four days of the US Open live only on Sky Sports.
                    </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.introduceAFriend&url=https://my.sky.com/mysky/skyloyalty/introduceafriend/overview/indexb.html" title="Introduce a Friend"><img class="scale" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/iaf_hero_june.jpg" border="0" alt=""/></a>
    </td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="20" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;">
        This email was sent to {{ email }}.<br/>
        Please add noreply@yourskyphoto.co.uk to your address book or safe sender list.
        <br/><br/>
        This email was sent to you by &copy; Sky UK Ltd 2015. Sky UK Ltd ©Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.<br/><br/>
        <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.termsAndConditions&url=https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/terms.html" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> |  <a href="https://skysportsnewshq.sngrn.co/a/click/{{ uuid }}?type=email.tv.privacyPolicy&url=http://help.sky.com/articles/sky-privacy-and-cookies-notice" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
            Policy</a> | <a href="https://skysportsnewshq.sngrn.co/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a>
        <br/><br/>
        &copy; Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.
        <br/><br/>
        The F1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing BV, a Formula One group company. All rights reserved.
<br /><br />
        <p style="text-align: justify;">
        <strong>Subject to status.  Upfront payment may be required.</strong><br />
Sky Sports Pack: £25.50 extra pm. HD Pack: £5.25pm extra.  You can cancel your Sky Sports Pack subscription at any time by giving us at least 31 days' notice. HD Pack: £5.25pm extra. <strong>Sky+HD:</strong>  The HD channels you get depends on your Sky TV/HD package. <strong>Sky Go:</strong> UK / Ireland only. Streamed via broadband/3G/4G (charges may apply). Available on two registered compatible devices (content may vary). Some live TV programmes will be unavailable (go to - go.sky.com). Compatible device and software requirements at sky.com/skygodevices. Sky Go is not currently supported on PCs with Windows 8 or Macs with OS X Mountain Lion. ITV channels available in UK only. <strong>Sky TV Customers:</strong> Selected channels and on demand content available at no extra cost depending on your Sky TV subscription. You'll need Sky Movies 1&2 or Sky Sports 1&2 Packs for on demand Sky Movies or Sky Sports. You'll need the Family Bundle or another Sky HD subscription for TV Box Sets.  <strong>Introduce a friend:</strong> £100 Prepaid MasterCard® can be used wherever MasterCard® is accepted. Your friend must live at a different UK address to you. We will invite you to select your £100 Prepaid MasterCard® once we receive your friend's first subscription payment and you will have 90 days before the right to your reward expires. We will send you your £100 card within 45 days of your reward selection, as long as you are still a Sky TV customer. A bonus £300 Prepaid Mastercard® will be rewarded for every 3 successful introductions to Sky TV. We will notify you via email as soon as all 3 friends join Sky TV. The bonus reward will be automatically sent to you within 28 days of your 3rd friends’ first bill payment. Offer not for Sky group employees or commercial use. Not available with any other offer. Offer ends 25 June 2015. <strong>General:</strong> Prices may go up during your contract. Non-standard set-up may cost extra. Prices may vary if you live in a flat. Sky+ functionally requires two satellite feeds. You must get any consents required (e.g. landlord’s). Prices for Direct Debit payments only. Continuous debit/credit card mandate costs 50p pm. UK, Channel Islands and Isle of Man residential customer only. Further terms apply. Other providers’ charges may vary. Correct at 28/05/2015.
        <br/><br/>
            </p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<img src="https://skysportsnewshq.sngrn.co/a/open/{{ uuid }}.jpg" width="1" height="1"/>
</body>
</html>
