<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Step into the Adventure with Sky Movies</title>
    <style type="text/css">
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">

<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
<!-- HEADER AREA -->
<tr>
    <td>
        <table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td class="spacer">&nbsp;</td>
                <td class="pad"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/sky-logo.png" alt="Sky" width="82" height="52" border="0" style="display:block;" title="Sky"/></td>

                <td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;">Step into the Adventure with Sky Movies<br />
                <a href="https://yourskyphoto.sngrn.co/email/{{ vanity }}" target="_blank" style="color:#999999;">View email in browser</a></td>
                <td class="spacer"><img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="15" height="52" border="0" alt=""/></td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- TITLE AREA -->
<tr>
    <td class="pad">
         <img src="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/sky-christmas/templates/580/strapline.jpg" alt="Check out your Avengers photo" width="409" border="0" id="strapline" style="display:block;" title="Look at you, what a hero!"/>
    </td>
</tr>
<tr>
    <td class="spacer" style="line-height:1px; font-size:0px;" height="10"></td>
</tr>
<!-- PHOTO AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="photo" bgcolor="#e3e1eb"><a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" title="Email view Your Photo" target="_blank"><img src="{{ media[0].posterurl }}" alt="Your Sky Photo" width="403" height="227" border="0" style="display:block;" title="Your Sky Photo"/></a></td>
                <td class="spacer" bgcolor="#e3e1eb" valign="middle" align="center" width="40%">
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" title="Email download button" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download" style="display:block;" title="Download"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" target="_blank" title="Email share to Facebook"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share" style="display:block;" title="Share"/></a>
                    <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                    <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}" title="Email share to Twitter" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet" style="display:block;" title="Tweet"/></a>
                </td>
            </tr>
        </table>
    </td>

</tr>
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#e3e1eb" valign="middle" align="center">
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/0/download" title="Download" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-download.png" alt="Download" width="150" height="35" border="0" id="download-mobile" style="display:block;" title="Download"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/share/facebook" title="Share to Facebook" target="_blank"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-share.png" alt="Share" width="150" height="35" border="0" id="share-mobile" style="display:block;" title="Share"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="5" border="0" alt=""/>
                        <a href="https://yourskyphoto.sngrn.co/v/{{ vanity }}/share/twitter" target="_blank" title="Share to Twitter"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-tweet.png" alt="Tweet" width="150" height="35" border="0" id="tweet-mobile" style="display:block;" title="Tweet"/></a>
                        <img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="150" height="15" border="0" alt=""/>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;"><p><span style="color:#8f8e8e;"> Hello {{ firstname }},</span><br />
      <br />
      Congratulations on saving the world today with Sky Movies and Marvel’s Avengers: Age of Ultron. </p>
      <p>Would you like £250 worth of shopping vouchers to spend this Christmas? For a chance to win, share your photo online now. <small>Full competition terms and conditions available  </small><a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/sky-christmas/templates/580/Prize%20DrawTandCsWestfieldTour.html" title="Competition terms and conditions" style="color:#999999;"><small>here</small></a>.
        <br /><br />With Sky Movies, you can enjoy over 1000 movies on demand this Christmas.<br /><br />
        
        <span align="center" style="display: block; text-align: center">
          <a href="http://www.sky.com/shop?DCMP=EMC-Events-TV-Xmas-FindOutMore" title="Find Out More"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/cta-find-out-more.png" width="130" height="35" border="0" /></a></span></p>

    </td>
</tr>
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- SHOWS AREA -->
<tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <a href="http://www.sky.com/watch/channel/sky-movies?DCMP=EMC-Events-Movies-Xmas-Avengers" title="Avengers content panel"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-ylGBtv/sky-christmas/templates/580/AvengersV3.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Marvel's Avengers: Age of Ultron " border="0"/></a>
                </td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer">
                    <a href="http://www.sky.com/watch/channel/sky-movies?DCMP=EMC-Events-Movies-Xmas-Cinderella" title="Cinderella content panel"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-ylGBtv/sky-christmas/templates/580/CinderellaV3.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Cinderella " border="0"/></a><a href="https://yourskyphoto.sngrn.co/a/click/{{ uuid }}?type=email.tv.panelPremierLeague&url=http://www1.skysports.com/football/competitions/premier-league" title="Sky Sports"></a></td>
            </tr>
            <tr>
                <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
            <tr>
                <td align="left" bgcolor="#E3E1EB" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans. <br /></td>
                <td class="spacer"><img src="https://s3-eu-west-1.amazonaws.com/com.quander.sky.skysportstnewshq/spacer.gif" width="4" height="5" border="0" alt=""/></td>
                <td class="spacer" align="left" valign="top" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;">When her father unexpectedly passes away, young Ella finds herself at the mercy of her cruel stepmother<strong> </strong>and her daughters. Never one to give up hope, Ella's fortunes begin to change after meeting a dashing stranger.<br /></td>
            </tr>
            <tr>
                <td height="5" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                <td class="spacer"></td>
                <td class="spacer" bgcolor="#E3E1EB"></td>
            </tr>
        </table>
    </td>

</tr>





<!-- MOBILE SECOND PANEL -->
<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="line-height:1px; font-size:0px;" height="10"></td>
                </tr>
                <tr>
                    <td class=""><a href="http://www.sky.com/watch/channel/sky-movies?DCMP=EMC-Events-Movies-Xmas-Cinderella" title="Bring the noise content panel">
                            <img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-ylGBtv/sky-christmas/templates/580/CinderellaV3.jpg" alt="" width="298" height="148" class="scale" style="display:block;" title="Cinderella content panel" border="0"/></a></td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
                <tr>
                    <td align="left" bgcolor="#E3E1EB" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px; padding-bottom: 5px;"> When her father unexpectedly passes away, young Ella finds herself at the mercy of her cruel stepmother and her daughters. Never one to give up hope, Ella's fortunes begin to change after meeting a dashing stranger. </td>
                </tr>
                <tr>
                    <td height="10" bgcolor="#E3E1EB" style="line-height:1px; font-size:0px;"></td>
                </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="7"></td>
</tr>
<!-- IAF AREA -->

<tr>
    <td class="pad">
        <a href="https://secure.sky.com/introduce-a-friend?DCMP=EMC-Events-Movies-Xmas-IAF"><img src="https://s3-eu-west-1.amazonaws.com/quander-central/demoaccount-ylGBtv/sky-christmas/templates/580/839_02029_IAF_CHRISTMAS_974x334_SHOP_HERO_005.jpg" alt="" width="600" class="scale" title="Introduce A Friend" border="0"/></a>
    </td>
</tr>
<!-- FOOTER AREA -->
<tr>
    <td height="6" bgcolor="#FFFFFF" style="line-height:1px; font-size:0px;"></td>
</tr>
<tr>
    <td style="font-family:Arial, Helvetica, sans-serif; color:#999999; text-align:center; font-size:11px; padding-left:20px; padding-right:20px;"> <p>This email was sent to {{ email }}.<br />
      Please add noreply@yourskyphoto.co.uk to your address book or safe sender list. <br />
      This email was sent to you by © Sky UK Ltd 2015. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD. Upfront payment may be required. <br />
  <br />
  <a href="https://quander-central.s3.amazonaws.com/demoaccount-ylGBtv/sky-christmas/templates/580/hulkbusterterms.html" target="_blank" style="color:#999999;" title="Terms and Conditions">Terms and Conditions</a> | <a href="http://help.sky.com/articles/sky-privacy-and-cookies-notice" title="Privacy Policy" target="_blank" style="color:#999999;">Privacy
    Policy</a> | <a href="https://yourskyphoto.sngrn.co/unsubscribe/{{ uuid }}" title="Unsubscribe" target="_blank" style="color:#999999;">Unsubscribe</a> </p>
      <p>© Avengers: Age of Ultron © 2015 Marvel. Cinderella © 2014 Disney Enterprises, Inc.<br />
        <strong><br />
        </strong></p>
      <p><strong>Subject to status. Upfront payment may be required. Introduce a friend:</strong> £75 Prepaid MasterCard® can be used wherever MasterCard® is accepted. Further terms apply.
<strong>Offer for Existing Sky TV Customers Only:</strong> Your friend must live at a different UK address to you. We will send you your £75 Prepaid Mastercard® reward once we receive your friend's first subscription payment. Existing customer must remain an active customer to qualify. Offer not for Sky group employees or commercial use. Not available with any other offers. <strong>General:</strong> Prices may go up during your contract. Further terms apply. Correct at 11 November 2015.</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>