<html>
	<head>
      <link rel="shortcut icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
		<link rel="icon" href="https://quander-central.s3.amazonaws.com/demoaccount-ubTyot/demo-project/templates/723/favicon.png" type="image/x-icon">
        <link href="https://vjs.zencdn.net/4.7/video-js.css" rel="stylesheet">
		<script async="" src="//www.google-analytics.com/analytics.js"></script>
		<script src="https://vjs.zencdn.net/4.7/video.js"></script>
      
      <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SkyUK">
<meta name="twitter:creator" content="@quanderio">
<meta name="twitter:title" content="I shared a moment with Sky today. Check out my photo.">
<meta name="twitter:description" content="I shared a moment with Sky today. Check out my photo.">
<meta name="twitter:image" content="{{ media[0].posterurl }}">
      
       
                <!-- Facebook -->
        <meta property="og:url" content="{{ ogURL }}" />
        <meta property="og:site_name" content="Check out my moment on the iron throne @skyatlantic #GoTAtlantic"/>
        <meta property="og:title" content="Check out my moment on the iron throne @skyatlantic #GoTAtlantic"/>
        <meta property="og:description" content="Check out my moment on the iron throne @skyatlantic #GoTAtlantic" />
            <meta property="og:image" content="{{ media[0].url }}">
      <meta property="og:image:secure_url" content="{{ media[0].url }}" /> 
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="1280" /> 
    <meta property="og:image:height" content="720" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
        <link rel="stylesheet" href="https://quander-boxsets.s3.amazonaws.com/website/css/app.css" />
	</head>
	<body>
		<div id="header">
			<div class="center-wrapper">
				<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo" title="Sky"><p>&nbsp;</p>
                
				
			</div>
		</div>
		<div id="main-content">
			<div>
				<div class="center-wrapper">
					<img src="{{ media[0].url }}" id="customer-content">
			
			
				</div>
			</div>
			<div>
				<div class="center-wrapper" id="share-row">
                                
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/facebook" title="Webpage share to Facebook" data-url="{{ media[0].url }}" data-vanity="{{ attendee.vanity }}" data-type="{{ media[0].type }}" data-social="{{ media[0]|shareObject }}" class="button button-left  facebook">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/shareButton.png" alt="Share your photo to Facebook" title="Share your photo to Facebook" border="0">
					</a>
					<a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/share/twitter" class="button button-center share twitter" style="margin-left:57px; margin-right:56px;">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/tweetButton.png" alt="Share your photo to Twitter" title="Share your photo to Twitter" border="0">
					</a>
                  <a href="https://yourskyphoto.qndr.io/v/{{ attendee.vanity }}/0/download" class="button share">
						<img src="https://s3-eu-west-1.amazonaws.com/skysportsnewshq/downloadButton.png" alt="Save your photo to your computer" border="0">
					</a>
				</div>
			</div>
			<div>
				<div class="center-wrapper">
					<img src="https://quander-boxsets.s3.amazonaws.com/website/images/sky-spectrum-logo.png" id="sky-logo" title="Sky">
				</div>
			</div>
		</div>
		<div id="footer">
			<p><a href="http://www.sky.com/help/articles/sky-privacy-and-cookies-notice" alt="Privacy Policy">Privacy Policy</a> | <a href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/got-tour-2016/templates/843/GOTterms.html" alt="Terms & Conditions">Terms & Conditions</a></p>
		</div>
        
        
        <script>
      
      $('.share.twitter').on('click', function(e){
          e.preventDefault();
          window.open(this.href, '_blank', 'scrollbars=yes,resizable=yes,toolbar=no,location=yes,width=600,height=400');
          return false;
      });

</script>
     <script src="https://s3-eu-west-1.amazonaws.com/quander-assets/social/app.js"></script>
	</body>
</html>