{% set media = attendee.medias[0] %}
{% set subdomain = attendee.project.subdomain.name %}
{% set companionLink = "https://#{attendee.project.subdomain.name}.qndr.io" %}
{% set unsubsribeLink = "#{companionLink}/unsubscribe/#{attendee.uuid}" %}
{% set viewInBrowserLink = "#{companionLink}/email/#{attendee.vanity}/follow-up" %}
{% set termsLink = "https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/Sky_Q__Comp__terms.html" %}

{# Default Variables #}

{% set findOutMoreLink = "" %}
{% set termsAndConditions = "" %}
{% set segment = "1618" %}
{% set iaf = "" %}
{% set iafLink = "" %}

{% set body %}
    <p>Hello {{ firstname }},</p>
    <p>We hope you enjoyed experiencing Sky Q; our next generation box.
</p>
    <p>You've been entered into a competition to win a 43" Ultra HD LG TV. Winners will be contacted on the 18th November 2016. Full T&Cs available  <a  href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/Sky_Q__Comp__terms.html" ><u><small>here</small></u></a>.</p>
     <p>You can find out about all the other great benefits of Sky Q.  <a  href="http://www.sky.com/shop/tv/sky-q/" ><u><small>here</small></u></a>.</p>
    <p>We hope to see you again soon.</p>
    <p>The Sky Team</p>
{% endset %}

{# Segmentation Rules #}

{% if (attendee.fields.skyTVCustomer == "true" or attendee.fields.skySportsCustomer == "true") and (attendee.fields.over18 == "true") %}
    {% set segment = "tv" %}
{% elseif (attendee.fields.skyTVCustomer == "false" and attendee.fields.skySportsCustomer == "false") and (attendee.fields.over18 == "true") %}
    {% set segment = "nsc" %}
{% else %}
    {% set segment = "1618" %}
{% endif %}

{# Segmentation Default Overrides #}

{% if segment == "nsc" %}

    {% set findOutMoreLink = "http://www.sky.com/shop/tv/sky-q/" %}

    {% set body %}
         <p>Hello {{ firstname }},</p>
    <p>We hope you enjoyed experiencing Sky Q; our next generation box.
</p>
    <p>You've been entered into a competition to win a 43" Ultra HD LG TV. Winners will be contacted on the 18th November 2016. Full T&Cs available  <a  href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/Sky_Q__Comp__terms.html" ><u><small>here</small></u></a>.</p>
     <p>You can find out about all the other great benefits of Sky Q.  <a  href="http://www.sky.com/shop/tv/sky-q/" ><u><small>here</small></u></a>.</p>
    <p>We hope to see you again soon.</p>
    <p>The Sky Team</p>
    {% endset %}

    {% set termsAndConditions %}
        <p>
            <small>

           
            </small>
        </p>
    {% endset %}

{% elseif segment == "tv" %}

    {% set findOutMoreLink = "http://www.sky.com/shop/tv/sky-q/" %}

    {% set body %}

         <p>Hello {{ firstname }},</p>
    <p>We hope you enjoyed experiencing Sky Q; our next generation box.
</p>
    <p>You've been entered into a competition to win a 43" Ultra HD LG TV. Winners will be contacted on the 18th November 2016. Full T&Cs available  <a  href="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/Sky_Q__Comp__terms.html" ><u><small>here</small></u></a>.</p>
     <p>You can find out about all the other great benefits of Sky Q.  <a  href="http://www.sky.com/shop/tv/sky-q/
" ><u><small>here</small></u></a>.</p>
    <p>We hope to see you again soon.</p>
    <p>The Sky Team</p>
			
    {% endset %}

    {% set termsAndConditions %}
        <p>
            <small>
              <strong>Subject to status. Upfront payment may be required.Introduce a friend offer:</strong>
              £125 Prepaid MasterCard&reg; can be used wherever MasterCard&reg; is accepted, except for gambling, cash withdrawals, currency, cashback or at petrol stations. Unused card values will expire 12 months after the cards are printed.  Further terms apply. Existing Sky TV Customers Only: Your friend must live at a different UK address to you. We will send you your £125 Prepaid Mastercard&reg; reward once we receive your friend's first subscription payment. Existing customer must remain an active customer to qualify. Offer not for Sky group employees or commercial use. Not available with any other offers.
            </small>
        </p>
    {% endset %}

    {# IAF URL GOES HERE! #}
    {% set iafImage = "https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/IAF_corrected.jpg" %}
    {% set iafLink = "http://www.sky.com/shop/bundles-offers/introduceafriend/" %}

{% endif %}

{# --- DO NOT TOUCH ANYTHING BELOW THIS LINE! --- #}

<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/{[country|24517]}/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sky TV - {{ segment }}</title>
    <style type="text/css">
		html,body{
				font-family: Arial, Helvetica, sans-serif;
		}
        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass * {
            line-height: 110%
        }

        table td {
            border-collapse: collapse;
        }

        .mob {
            display: none;
        }

        @media screen and (min-width: 320px) and (max-width: 654px) {
            body {
                margin: 0 !important;
            }

            table[id=wrapper] {
                width: 100% !important;
                padding: 0px 0px !important;
            }

            table[id=wrapper] .inner {
                width: 100% !important;
                max-width: 570px;
            }

            table[id=wrapper] .spacer {
                width: 0px;
                display: none !important;
            }

            img[class=scale] {
                width: 100% !important;
                height: auto !important;
                display: block !important;
            }

            table[id=wrapper] .pad {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            table[id=wrapper] .padt10 {
                padding-top: 10px !important;
            }

            table[id=wrapper] .padb10 {
                padding-bottom: 10px !important;
            }

            table[id=wrapper] .center {
                text-align: center !important;
            }

            table[id=wrapper] .widthauto {
                width: auto !important;
            }

            table[id=wrapper] .heightauto {
                height: auto !important;
            }

            table[id=wrapper] .whitebg {
                background-color: #FFFFFF !important;
            }

            table[id=wrapper] .mobtext10 {
                font-size: 10px !important;
            }

            img[class=mobcta] {
                width: 106px !important;
                height: auto !important;
            }

            img[class=mobimage] {
                width: 302px !important;
                height: auto !important;
            }

            img[id=strapline] {
                width: 90% !important;
                height: auto !important;
                margin-bottom: 10px;
            }

            .photo img {
                width: 100%;
                height: auto;
            }

            .mob {
                display: table-row !important;
                font-size: 10px !important;
                max-height: none !important;
                line-height: 1.5 !important;
            }

            *[class=gmail] {
                display:block!important;
                width:auto!important;
                overflow:visible!important;
                float:none !important;
                height:inherit!important;
                max-height:inherit!important;
            }

        }
    </style>
</head>

<body bgcolor="#FFFFFF" bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; -ms-interpolation-mode: bicubic; padding:0; margin:0;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" id="wrapper" style="table-layout:fixed;">
<tr>
<td align="center" bgcolor="#FFFFFF">
<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">

<!-- HEADER AREA -->
<tr>
	<td>
		<table class="inner" border="0" cellpadding="0" cellspacing="0" width="600">
			<tr>
				<td class="spacer">&nbsp;</td>

				<td class="pad">
					<img src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/sky-logo.png" alt="Sky" height="35" border="0" style="display:block;" title="Sky"/>
				</td>

				<td width="488" class="pad" height="52" align="right" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8f8e8e;"><br/>
					<a title="view email in browser" href="{{ viewInBrowserLink }}" target="_blank" style="color:#999999;">View email in browser</a>
				 </td>

				<td class="spacer">
					<img style="display:block;" src="https://s3-eu-west-1.amazonaws.com/quander-central/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/spacer.gif" width="15" height="52" border="0" alt=""/>
				</td>

			</tr>
		</table>
	</td>
</tr>

<tr><td style="line-height:1px; font-size:0px;" height="20"></td></tr>

<!-- TITLE AREA -->
<tr>
	<td class="pad">
		<h2 style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#C71273;">Thank you for trying Sky Q</h2>
	</td>
</tr>

<!-- PHOTO AREA -->
<tr>
	<td>
		<table width="100%" border="0" cellspacing="" cellpadding="0" align="middle">
			<tr>
				<td class="photo" bgcolor="#FFFFFF">
					<a href="http://www.sky.com/shop/tv/sky-q/
" title="Sky Q" target="_blank">
						<img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-q-competition-october-2016/templates/1235/Tiger%20Tv.jpg" alt="Sky Q" width="100%" height=""  border="0" style="display:block;" title=""/>
					</a>
				</td>
</tr>
		</table>
	</td>
</tr>

<!--[if !mso 9]><!-->
<tr class="mob" style="display: none; font-size: 0; max-height: 0; line-height: 0; padding: 0; mso-hide: all;">
    <td>
        <div class="gmail" style="display:none;width:0;overflow:hidden;float:left;max-height:0;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr> </tr>
            </table>
        </div>
    </td>
</tr>
<!--<![endif]-->
<tr>
    <td style="line-height:1px; font-size:0px;" height="20"></td>
</tr>
<!-- BODY AREA -->
<tr>
    <td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">
        <br />
        {{ body }}
        
        {% if findOutMoreLink is not empty %}
        <p>
            <span align="center" style="display: block; text-align: center">
            <a href="{{ findOutMoreLink }}" title="Find Out More">
                    <img src="https://quander-central.s3.amazonaws.com/wasserman---sky-retail-ylGBtv/sky-roadshow-green-screen/templates/799/cta-find-out-more.png" width="130" height="35" title="Find Out More" border="0" />
                </a>
            </span>
		</p>
        {% endif %}
		</td>
</tr>

<!-- IAF AREA -->

{% if iafImage is not empty and iafLink is not empty %}
    
<tr>
    <td align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8f8e8e; padding-right:20px; padding-left:20px;">

        <a href="{{ iafLink }}">
            <img src="{{ iafImage }}" alt="Introduce a Friend" style="border: none; width: 100%;" />
        </a>

    </td>
</tr>

{% endif %}

<!-- FOOTER AREA -->


    <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; color: #999999; text-align: center; font-size: 11px; padding-left: 20px; padding-right: 20px;">
            <p>This email was sent to {{ attendee.email }}.</p>
            <p>Please add skylive@quander.io to your address book or safe sender list.</p>
            <p>This email was sent to you by ©Sky UK Ltd 2016. Sky UK Ltd (company no. 02906991) has its registered office at Grant Way, Isleworth, Middlesex TW7 5QD.</p>
            <p><a title="Terms and conditions" href="{{ termsLink }}" target="_blank" style="color:#999999;">Terms and Conditions</a> | <a title="Privacy Policy" href="http://www.sky.com/help/articles/sky-privacy-and-cookies-notice" target="_blank" style="color:#999999;">Privacy Policy</a> | <a title="Unsubscribe" href="{{ unsubsribeLink }}" target="_blank" style="color:#999999;">Unsubscribe</a></p>
            
            {{ termsAndConditions }}
            
        </td>
    </tr>

    
</table>
</td>
</tr>
</table>

</body>
</html>